{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Before you start</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is your date of birth?</h1>
      </header>

      <span class="form-hint" id="question-hint">For example, 31 07 1961</span>

      <form action="dateofbirthsplit-handler" method="get" class="form">

        <div class="form-group">

          <div class="form-date">
            <div class="form-group form-group-day">
                <label id="label-day" class="form-label" for="dob-day">Day</label>
        
                <input class="form-control" id="dob-day" name="day" type="number" autocomplete="bday-day" value="" min="1" max="31">
            </div>
            <div class="form-group form-group-month">
                <label id="label-month" class="form-label" for="dob-month">Month</label>
        
                <input class="form-control" id="dob-month" name="month" type="number" autocomplete="bday-month"
                    value="" min="1" max="12">
            </div>
            <div class="form-group form-group-year">
                <label id="label-year" class="form-label" for="dob-year">Year</label>
        
                <input class="form-control" id="dob-year" name="year" type="number" autocomplete="bday-year"
                    value="" max="2019">
            </div>
        </div>

        

        </div>

        <details class="form-group" role="group">
				  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Why we ask for your date of birth</span></summary>
				      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					    <p>
					     We use your date of birth to work out your age. Depending on where you live, your age could entitle you to help with NHS costs, such as free prescriptions or dental treatment.
					    </p>
				     </div>
				</details>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}