{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service 
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p> 
    </div>

  <div class="grid-row">
    <div class="column-two-thirds">

        <a href="javascript:history.go(-1)" class="link-back">Back</a>

        <header class="page-header">
            <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">You can't use this service because you live in Northern Ireland</h1>
        </header>      

        <p>You can find information about getting help with health costs at
          <a href="https://www.nidirect.gov.uk/articles/help-with-health-costs" id="nidirect">NIdirect.gov.uk</a>.
        </p>

    </div>

  </div>

</main>

{% endblock %}
