{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Submit your application</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Upload your documents</h1>
        <p>Because you've told us you receive wages from a job, universal credit or working tax credits, we require further proof.</p>
        <p>The image must be of the entire document and has to be readable by NHS staff. You can upload a jpg, bmp, png or PDF (maximum file size 10MB).</p>
        
      </header>


      <form action="memorablewordSaveRestore-handler" method="get" class="form">

          

        <div class="form-group">
          <label class="form-label" for="memorableword"></label>
          <input class="form-control" id="memorableword" name="memorableword" type="text">
        </div>



      </form>

      <div class="form-group">
          <a href="email-address"><input class="button" type="submit" value="Next"></a>
      </div>

    </div>
  </div>
</main>
</main>

{% endblock %}