{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Before you start</p>
        {% if thirdparty %}
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What type of support do they get?</h1>
        {% else %}
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What type of support do you get?</h1>
        {% endif %}
      </header>

      <br>
      <div class="form-hint">
				
            Select all that apply
        
                    </div>
      <form action="whatsupportSaveRestoreiteration2-handler" method="get" class="form">

          <div class="form-group">
                <fieldset class="form-group">
                        <div class="multiple-choice multiple-radio">
                          <input id="vouchers" name="whatsupport" value="vouchers" type="checkbox">
                          <label for="vouchers">Vouchers</label>
                        </div>
                        <div class="multiple-choice multiple-radio">
                          <input id="prepaid-card" name="whatsupport" value="prepaid-card" type="checkbox">
                          <label for="prepaid-card">Prepaid card (ASPEN card)</label>
                        </div>
                        <div class="multiple-choice multiple-radio">
                          <input id="food-meals" name="whatsupport" value="food-meals" type="checkbox">
                          <label for="food-meals">Food or meals</label>
                        </div>
                        <div class="multiple-choice multiple-radio">
                          <input id="cash" name="whatsupport" value="cash" type="checkbox">
                          <label for="cash">Cash</label>
                        </div>
                      </fieldset>
          </div>
      
          <br>
      
          <div class="form-group">
              <input class="button" type="submit" value="Continue">
          </div>
      
      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}