{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Before you start</p>
        {% if thirdparty %}
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Who is supporting them?</h1>
        {% else %}
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Who is supporting you?</h1>
        {% endif %}
      </header>

      <br>
      <div class="form-hint">
				
            Select all that apply
        
                    </div>
      <form action="whoissupportingSaveRestoreiteration2-handler" method="get" class="form">

          <div class="form-group">
                <fieldset class="form-group">
                        <div class="multiple-choice multiple-radio">
                          <input id="uk-visas" name="whoissupporting" value="uk-visas" type="checkbox">
                          <label for="uk-visas">UK Visas and Immigration (UKVI)</label>
                        </div>
                        <div class="multiple-choice multiple-radio">
                          <input id="local-authority" name="whoissupporting" value="local-authority" type="checkbox">
                          <label for="local-authority">A local authority</label>
                        </div>
                        <div class="multiple-choice multiple-radio">
                          <input id="a-charity" name="whoissupporting" value="a-charity" type="checkbox">
                          <label for="a-charity">A charity</label>
                        </div>
                        <p class="form-block">or</p>
                        <div class="multiple-choice multiple-radio">
                          <input id="none" name="whoissupporting" value="none" type="checkbox">
                          <label for="none">None of these</label>
                        </div>
                      </fieldset>
          </div>
      
          <br>
      
          <div class="form-group">
              <input class="button" type="submit" value="Continue">
          </div>
      
      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}