{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style>
  .callout {
    border: 8px solid #0072ce;
    padding: 16px;
    padding-top: 0 !important;
}
.form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
@media (min-width: 641px) {
.form-group {
    margin-bottom: 30px;
}
}
</style>
<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Submit your application</p>
        <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">Declaration</h1>
      </header>

      <p>I confirm that:</p>

      <ul class="list list-bullet">
        <li>the information I have given on this form is correct and complete, and I understand that if it is not,
          appropriate action may be taken</li>
        <li>I understand <a target="_blank" href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme/nhs-low-income-scheme-privacy-notice">how
            my information will be used</a></li>
      </uL>

      <br>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
            False information may lead to civil or criminal action.
            Anyone found to have wrongly claimed help with NHS costs will have to pay a penalty charge or may face prosecution.
        </strong>
      </div>

      <br><br>

      <div class="form-group">
          {% if data['uploadskip'] %}
          <a href="/apply/submit/iteration-5/further-information"><input class="button" type="submit" value="Agree and submit my application"></a>
          {% endif %}

          {% if data['email'] %}
          <a href="/apply/submit/iteration-5/further-information-email"><input class="button" type="submit" value="Agree and submit my application"></a>
          {% else %}
          <a href="/apply/submit/iteration-5/more-information"><input class="button" type="submit" value="Agree and submit my application"></a>
          {% endif %}          
      </div>

    </div>

  </div>

</main>

{% endblock %}