{% extends "layout_bsa.html" %} {% block page_title %} NHSBSA Prototype {% endblock %} {% block content %}
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = dd + '/' + mm + '/' + yyyy;
</script>
<script>
        setTimeout("location.href = '/apply/submit/iteration-5/timed-out';",120000);
</script>
<main id="content" role="main">
    <div class="grid-row">

        <div class="column-full">

            <div class="phase-banner">

                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>

            </div>

        </div>
    </div>


    <div class="grid-row">

        <div class="column-two-thirds">

            <div class="done-panel" style="
        margin-bottom: 0; background: #6f777b !important;
      ">
                <h1 class="heading-xlarge">
                    <i class="icon icon-important"
                        style="background-image: url('/public/images/bsa/icon-warning-white.png'); background-size: 100%;">
                        <span class="visually-hidden" style="">Warning</span>
                    </i>

                    Information needed</h1>
                <h2 class="heading-large"><span class="heading-secondary" style="color: white !important">Reference
                        number</span> K5G-V78</h2>


            </div>

            <h3 class="heading-medium" style="
margin-top: 1em !important;
">What do we need</h3>
            <p>Before we can assess your application, we need you to send us more information about &#123;&#123;your / your partners / your household&#125;&#125;
                income.</p>
            <p>We have sent instructions on how to supply this by email to <a href="/public/images/bsa/earnings-email.pdf" style="color: #333333; text-decoration: none; font-weight: bold;">{{ data['email'] }}</a>.</p>

            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span
                        class="summary">What if I don't receive an email?</span></summary>

                <div class="panel panel-border-wide" style="margin-top: 30px;" id="details-content-0"
                    aria-hidden="true">
                    <p>If you do not receive an email within 5 - 10 minutes, please check your junk folder.</p>
                        <p>If you still haven't received an email, please <a href="/apply/submit/iteration-5/more-information"
                            style=" color: #005EB8; text-decoration: underline;">click here</a> for what we require.</p>
                </div>
            </details>

            <h3 class="heading-medium">What happens next</h3>
            <p>When we receive this information, we'll review your application and let you know the outcome by post.
                This can take up to 15 working days.</p>

            <p><a href="feedback">What did you think of this service?</a> (takes 30 seconds)</p>









































        </div>



    </div>







</main>
{% endblock %}