{% extends "layout_bsa.html" %} {% block page_title %} NHSBSA Prototype {% endblock %} {% block content %}
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = dd + '/' + mm + '/' + yyyy;
</script>
<script>
    setTimeout("location.href = '/apply/submit/iteration-5/timed-out';",60000);
</script>
<main id="content" role="main">
    <div class="grid-row">

        <div class="column-full">

            <div class="phase-banner">

                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>

            </div>

        </div>
    </div>


    <div class="grid-row">

        <div class="column-two-thirds">

            <div class="done-panel" style="
        margin-bottom: 0; background: #6f777b !important;
      ">
                <h1 class="heading-xlarge">
                    <i class="icon icon-important"
                        style="background-image: url('https://low-income-support.herokuapp.com/public/images/bsa/icon-warning-white.png'); background-size: 100%;">
                        <span class="visually-hidden">Warning</span>
                    </i>

                    Information needed</h1>
                <h2 class="heading-large"><span class="heading-secondary" style="color: white !important">Reference
                        number</span> K5G-V78</h2>


            </div>


            <!-- 
            <div class="notice" style="
          margin-top: 1.25em;
      ">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">You cannot come back to this page later. You can make a note of what
                    information is needed, by <a href="javascript:window.print();"
                        style=" color: #005EB8; text-decoration: underline; ">printing
                        this page</a>
                    or <a href="/public/images/bsa/post-pdf.pdf"
                        style=" color: #005EB8; text-decoration: underline; ">saving as a PDF (55k)</a>.</strong>
            </div>
-->
            <div class="notice" style="
margin-top: 1.25em; margin-bottom: 1.25em;
">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">This page will expire in 30 minutes time. Make a note of what
                    information is needed, or <a href="javascript:window.print();"
                        style=" color: #005EB8; text-decoration: underline; ">print</a>
                    / <a href="/public/images/bsa/post-pdf.pdf"
                        style=" color: #005EB8; text-decoration: underline; ">save page as a PDF (55k)</a>.</strong>
            </div>

            <h3 class="heading-medium" style="
margin-top: 1em !important;
">What do we need</h3>
            <p>Before we can assess your application, we need you to send us further information about &#123;&#123;your / your partners / your household&#125;&#125;
                
                income:</p>




            <div class="info-panel highlight " style="
      margin-bottom: 2em;
    ">


                <h2 class="heading-medium" style="
      margin-bottom: 0;
    ">Your payslips</h2>

                <table class="chargesTable">
                    <tbody>

                        <tr>
                            <td style="width: 35% !important; border: 0 !important; vertical-align: top;"><span
                                    class="strong">UX
                                    Designer</span></td>

                            <td style="border: 0 !important;">Send us your last 2 consecutive payslips leading up to
                                <strong style="font-weight: bold;">
                                    <script>
                                        document.write(today);
                                    </script></strong>.</td>
                        </tr>
                        <tr>
                            <td style="width: 35% !important; border: 0 !important; vertical-align: top;"><span
                                    class="strong">Cleaner</span>
                            </td>

                            <td style="border: 0 !important;">Send us your last 4 consecutive payslips leading up to
                                <strong style="font-weight: bold;">
                                    <script>
                                        document.write(today);
                                    </script></strong>.</td>
                        </tr>
                    </tbody>
                </table>


                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p style="margin-bottom: 1.25em;"><a class="icon print-icon" href="javascript:window.print();" style="
      background-image: url(/public/images/bsa/print-2x.svg);
      padding-left: 40px;
      margin-right: 20px;
    ">Print
                        this</a><a class="icon download-icon" href="/public/images/bsa/post-pdf.pdf" target="_blank"
                        style="
      background-image: url(/public/images/bsa/document_icon.svg);
      padding-left: 37px;
      margin-left: 3px;
    ">Save
                        this (PDF 55k)</a>

                </p>










            </div>




            <h3 class="heading-medium" style="
          margin-top: 1em !important;
          ">Where should you send it</h3>

            <p>Please post copies of these to:</p>

            <p><strong style="font-weight: bold;">LIS Returns (Ref: K5G-V78)</strong><br>Bridge House<br>152 Pilgrim
                Street
                <br>Newcastle upon Tyne<br>NE1 6SN.</p>


            {% if not data['email'] %}

            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span
                        class="summary">I want to send this by email</span></summary>

                <div class="panel panel-border-wide" style="margin-top: 30px;" id="details-content-0"
                    aria-hidden="true">
                    <p>To send this information by email, we require an email address to send further instructions to.</p>

                    <form action="sendbyemail-iteration1-handler" method="get" class="form">

                        <div class="form-group">
                            <label class="form-label" for="email" style="font-weight: bold;">Enter your email address</label>
                            <p class="form-hint">For example, myname@example.com</p>
                            <input class="form-control" id="email" name="email" type="text" value="{{ data['email'] }}">
                        </div>
                
                        <div class="form-group">
                            <input class="button" type="submit" value="Send">
                        </div>
                    
                    </form>

                </div>
            </details>

            {% endif %}

            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span
                        class="summary">What if I can't send this information?</span></summary>

                <div class="panel panel-border-wide" style="margin-top: 30px;" id="details-content-0"
                    aria-hidden="true">
                    <p>If you cannot send us the information required, please ask your employer to fill in a
                        <a href="/public/images/bsa/LIS82.pdf"
                            style=" color: #005EB8; text-decoration: underline;">proof of income form (LIS 82)</a> and send
                        it to:</p>
                    <p><strong style="font-weight: bold;">LIS Returns (Ref: K5G-V78)</strong><br>Bridge House<br>152
                        Pilgrim
                        Street
                        <br>Newcastle upon Tyne<br>NE1 6SN.</p>
                </div>
            </details>



            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="heading-medium">What happens next</h3>
            <p>When we receive this information, we'll review your application and let you know the outcome by post.
                This can take up to 15 working days.</p>

            <p><a href="feedback">What did you think of this service?</a> (takes 30 seconds)</p>









































        </div>



    </div>







</main>
{% endblock %}