{% extends "layout_bsa.html" %} {% block page_title %} NHSBSA Prototype {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="grid-row">

        <div class="column-two-thirds">

            <div class="phase-banner">

                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>

            </div>

            <div class="done-panel" style="
        margin-bottom: 0;
      ">
                <h1 class="heading-xlarge" style="margin: 30px 0;">
                   

                    We've saved this application for 7 days</h1>

                


            </div>
            
            <h2 class="heading-medium">What happens next</h2>

            <p>We've sent you a text with a link you can use to continue later.</p>

            <p>You can continue, or close this window.</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p><a href="answers-saved"><input class="button" type="submit" value="Continue this application"></a></p>




  


        </div>



    </div>






</main>
{% endblock %}