{% extends "layout_bsa.html" %}

{% block page_title %}
Help paying for NHS Costs prototype
{% endblock %}

{% block content %}


<main id="content" role="main" tabindex="-1">

        <div class="phase-banner">
                <p>
                  <strong class="phase-tag">BETA</strong>
                  This is a new service
                  <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
                </p>
              </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary">State benefits</p>
                <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Do you get any of
                    these benefits?
                </h1>
            </header>

            <p>We will only ask you about benefits that can affect the outcome of your application.</p>

            <p>Select all that apply</p>











        </div>
    </div>


</main>

{% endblock %}