{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
        @media screen and (max-width: 640px) {
        .save-restore-mobile {
            display: block;
            text-align: center;
        }
        }
        .save-restore-mobile:hover {
            cursor: pointer;
            text-decoration: underline;
        }   
</style>

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            This is a new service
            <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary">Personal details</p>
                
                    {% if thirdparty %}
                    <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is their date of
                            birth?</h1>                     {% else %}
                     <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is your date of
                            birth?</h1>    
                    {% endif %}
            </header>


            <form action="dobSaveRestoreiteration2-handler" method="get" class="form">

                <fieldset>
                    <!--     <legend class="form-label-bold">Date of birth</legend> -->
                    <!-- <p>We only use this to check if your age entitles you to any help.</p> -->
                    <p class="form-hint" id="dob-hint" style="margin-bottom: 0px">For example, 31 07 1961</p>

                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label class="form-label" for="dob-day">Day</label>
                            <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0"
                                max="31" aria-describedby="dob-hint">
                        </div>

                        <div class="form-group form-group-month">
                            <label class="form-label" for="dob-month">Month</label>
                            <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0"
                                max="12">
                        </div>

                        <div class="form-group form-group-year">
                            <label class="form-label" for="dob-year">Year</label>
                            <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0"
                                max="2016">
                        </div>
                    </div>
                </fieldset>


            
            <br>

            <div class="form-group">
                    <div style="line-height: 225%;">

                        {% if data['memorableword']  %}
                        <input class="button" type="submit" value="Save and Continue">
                        {% else %}
      
                        <input class="button" type="submit" value="Continue">
                    </form>
      
                        {% endif %}

                        {% if not data['memorableword']  %}
                        <span class="save-restore-mobile" style="margin: 0 20px;">or</span>
                        <form action="detailsSaveRestoreiteration2-handler" method="get" class="form" style="display: inline-block;">
                            <input class="save-restore-mobile" type="submit" value="Save and continue later" style="background: none!important;
                            border: none;
                            padding: 0!important;
                            text-align: left;
                            color: #005ea5;">
                        </form>

                        {% endif %}
      
                      </div>                    </div>

        </div>
    </div>
</main>

{% endblock %}