{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
        @media screen and (max-width: 640px) {
        .save-restore-mobile {
            display: block;
            text-align: center;
        }
        }
        .save-restore-mobile:hover {
            cursor: pointer;
            text-decoration: underline;
        }   
</style>

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            This is a new service
            <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary">Personal details</p>
                {% if thirdparty %}
                <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is their name?</h1>
                <p class="form-hint">Use their full name. For example, Susan not Sue.</p>
                 {% else %}
                 <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is your name?</h1>
                <p class="form-hint">Use your full name. For example, Susan not Sue.</p>

                {% endif %}
            </header>


            <form action="nameSaveRestoreiteration2-handler" method="get" class="form">

                <div class="form-group">
                    <label class="form-label" for="firstname">First name</label>
                    <input class="form-control" id="firstname" name="firstname" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="middlename">Middle name (optional)</label>
                    <input class="form-control" id="middlename" name="middlename" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="lastname">Last name</label>
                    <input class="form-control" id="lastname" name="lastname" type="text">
                </div>


            



                <div class="form-group">
                    <div style="line-height: 225%;">

                        {% if data['memorableword']  %}
                        <input class="button" type="submit" value="Save and Continue">
                        {% else %}
      
                        <input class="button" type="submit" value="Continue">
                    </form>
      
                        {% endif %}

                        {% if not data['memorableword']  %}
                        <span class="save-restore-mobile" style="margin: 0 20px;">or</span>
                        <form action="detailsSaveRestoreiteration2-handler" method="get" class="form" style="display: inline-block;">
                            <input class="save-restore-mobile" type="submit" value="Save and continue later" style="background: none!important;
                            border: none;
                            padding: 0!important;
                            text-align: left;
                            color: #005ea5;">
                        </form>

                        {% endif %}
      
                      </div>                    </div>

                    

        </div>
    </div>
</main>

{% endblock %}