{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

{% set referrer = "who-is-applying" %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Personal details</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Are you applying for you or someone else?
</h1>
        
      </header>


      <form action="textemailmethodSaveRestoreiteration2-handler" method="get" class="form">


          <fieldset class="form-group">

              <div class="multiple-choice">
                <input id="yes" name="textemail" type="radio" value="email">
                <label for="yes" style="line-height: 195%;">Myself</label>
              </div>


              <div class="multiple-choice">
                <input id="no" name="textemail" type="radio" value="textmessage">
                <label for="no" style="line-height: 195%;">Someone Else</label>
              </div>
                

            </fieldset>

            

      </form>

      <details>
            <summary><span class="summary">When can I apply for someone else?</span></summary>
            <br>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
    
              <p style="font-weight: bold;">If you're responsible for their financial affairs</p>
              <p>You can complete the form on behalf of someone else if you are responsible for their financial affiars because they have either:</p>

              <ul class="list-bullet">
                <li>earning difficulties</li>
                <li>a condition which prevents them from managing their own affairs</li>
              </ul>

              <br>
              <div class="notice">
                    <i style="bottom: 25%; top: 25%;" class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                    <strong class="bold-small">You are responsible for making sure the information entered is correct and complete.</strong>
              </div>
              <br>

              <p style="font-weight: bold;">If you're just helping to complete the form</p>
              <p>You should select the 'myself' option.</p>
              <p>You can help to complete the form, but they are responsible for the information given.</p>


            </div>
    
    
          </details>
          <br>


        <div class="form-group">
                <div style="line-height: 225%;">

                  {% if data['memorableword'] %}
                  <a href="name-of-beneficiary"><input class="button" type="submit" value="Save and continue"></a>
                  {% else %}

                  <a href="name-of-beneficiary"><input class="button" type="submit" value="Continue"></a>
                    <span class="save-restore-mobile" style="margin: 0 20px;">or</span>
                  <a class="save-restore-mobile" href="../text-or-email">Save and continue later</a>

                  {% endif %}

                </div>
        </div>



    </div>
  </div>
</main>


{% endblock %}