{% extends "layout_bsa_assess_signedin.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style type="text/css">

#content {
  max-width: 100%;
  padding: 30px;
}
.assess-columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

.govuk-tabs {
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .govuk-tabs {
    margin-top: 5px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs {
    margin-bottom: 30px;
  }
}

.govuk-tabs__title {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0b0c0c;
  margin-bottom: 10px;
}

@media print {
  .govuk-tabs__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs__title {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .govuk-tabs__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .govuk-tabs__title {
    color: #000000;
  }
}

.govuk-tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

@media (min-width: 40.0625em) {
  .govuk-tabs__list {
    margin-bottom: 30px;
  }
}

.govuk-tabs__list-item {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.25;
  margin-left: 25px;
}

@media print {
  .govuk-tabs__list-item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-tabs__list-item {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .govuk-tabs__list-item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.govuk-tabs__list-item::before {
  color: #0b0c0c;
  content: "\2014 ";
  margin-left: -25px;
  padding-right: 5px;
}

@media print {
  .govuk-tabs__list-item::before {
    color: #000000;
  }
}

.govuk-tabs__tab {
  display: inline-block;
  margin-bottom: 10px;
}

.govuk-tabs__tab:link {
  color: #1d70b8;
}

.govuk-tabs__tab:visited {
  color: #4c2c92;
}

.govuk-tabs__tab:hover {
  color: #003078;
}

.govuk-tabs__tab:active {
  color: #0b0c0c;
}

.govuk-tabs__tab:focus {
  color: #0b0c0c;
}

.govuk-tabs__tab:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.govuk-tabs__panel {
  margin-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .govuk-tabs__panel {
    margin-bottom: 50px;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__list {
    margin-bottom: 0;
    border-bottom: 1px solid #b1b4b6;
  }
  .js-enabled .govuk-tabs__list:after {
    content: "";
    display: block;
    clear: both;
  }
  .js-enabled .govuk-tabs__title {
    display: none;
  }
  .js-enabled .govuk-tabs__list-item {
    position: relative;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px 20px;
    float: left;
    background-color: #f3f2f1;
    text-align: center;
  }
  .js-enabled .govuk-tabs__list-item::before {
    content: none;
  }
  .js-enabled .govuk-tabs__list-item--selected {
    position: relative;
    margin-top: -5px;
    margin-bottom: -1px;
    padding-top: 14px;
    padding-right: 19px;
    padding-bottom: 16px;
    padding-left: 19px;
    border: 1px solid #b1b4b6;
    border-bottom: 0;
    background-color: #ffffff;
  }
  .js-enabled .govuk-tabs__list-item--selected .govuk-tabs__tab {
    text-decoration: none;
  }
  .js-enabled .govuk-tabs__tab {
    margin-bottom: 0;
  }
  .js-enabled .govuk-tabs__tab:link, .js-enabled .govuk-tabs__tab:visited, .js-enabled .govuk-tabs__tab:hover, .js-enabled .govuk-tabs__tab:active, .js-enabled .govuk-tabs__tab:focus {
    color: #0b0c0c;
  }
}

@media print and (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__tab:link, .js-enabled .govuk-tabs__tab:visited, .js-enabled .govuk-tabs__tab:hover, .js-enabled .govuk-tabs__tab:active, .js-enabled .govuk-tabs__tab:focus {
    color: #000000;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__tab::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
    padding: 30px 20px;
    border: 1px solid #b1b4b6;
    border-top: 0;
  }
}

@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel {
    margin-bottom: 0;
  }
}

@media (min-width: 40.0625em) {
  .js-enabled .govuk-tabs__panel > :last-child {
    margin-bottom: 0;
  }
  .js-enabled .govuk-tabs__panel--hidden {
    display: none;
  }
}
</style>

<main id="content" role="main" style="min-height: 500px;">


<div class="assess-columns">
  <div style="width: 20%;">
  
      <div class="form-group">
          <span class="heading-medium ref-section" id="crs"></span><div class="form-hint">CRS number</div>
      </div>
<script>
var fourdigitsrandom = Math.floor(1000 + Math.random() * 9000);
document.getElementById("crs").innerHTML=fourdigitsrandom;
// alert(fourdigitsrandom);
</script>

      <div class="form-group">
          <span class="heading-medium ref-section"><span id="digiref1"></span>-<span id="digiref2"></span></span><div class="form-hint"> Digital reference</div>
      </div>
      <script>
          var threedigitsrandom1 = Math.floor(100 + Math.random() * 900);
          var threedigitsrandom2 = Math.floor(100 + Math.random() * 900);
          document.getElementById("digiref1").innerHTML=(threedigitsrandom1);
          document.getElementById("digiref2").innerHTML=(threedigitsrandom2);
          // alert(threedigitsrandom);
      </script>

      <div class="form-group">
          <span class="heading-medium ref-section">20-08-2019</span><div class="form-hint">Date of application</div>
      </div>
  
  </div>
  <div style="width: 80%;">
  
      <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day">
                Personal details
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                Contact details
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month">
                Care home
              </a>
            </li>
          </ul>
          <section class="govuk-tabs__panel" id="past-day">
              <dl class="govuk-check-your-answers cya-questions-short">
                  <div>
                    <dt class="cya-question">
                      <h2 class="heading-small">Full name</h2>
                    </dt>
                    <dd class="cya-answer">
                      <p><span id="name"></span></p>
                      <script type="text/javascript">

var firstPart = ["Stephen", "Charlotte", "Elizabeth", "Simon", "James", "Andrew", "Catherine"];
var secondPart = ["Jones", "Smith", "Holliday", "Reed", "Woods", "Ferguson", "Pratt"];

var name = firstPart[Math.floor(Math.random() * firstPart.length)] + " " + secondPart[Math.floor(Math.random() * secondPart.length)];
document.getElementById("name").innerHTML=(name);

                      </script>
                    </dd>
                  </div>
                  <div>
                    <dt class="cya-question">
                      <h2 class="heading-small">Date of birth</h2>
                    </dt>
                    <dd class="cya-answer">
                        <p>18 May 1985</p>
                    </dd>
                  </div>
                  <div>
                      <dt class="cya-question">
                        <h2 class="heading-small">Address</h2>
                      </dt>
                      <dd class="cya-answer">
                          <p>11 Main Street,<br>
                          Witton Park,<br>
                        Bishop Auckland,<br>
                      Co. Durham,<br>
                    DL14 0DX.</p>
                      </dd>
                    </div>
                    <div>
                        <dt class="cya-question" style="border: 0 !important;">
                          <h2 class="heading-small">NHS Number</h2>
                        </dt>
                        <dd class="cya-answer" style="border: 0 !important;">
                            <p>No</p>
                        </dd>
                      </div>
          
          
          
                </dl>
        
          </section>
        </div>
  
  </div>
</div>



</main>

{% endblock %}