{% extends "layout_bsa_assess_signedin.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style type="text/css">

#content {
  max-width: 100%;
  padding: 30px;
}
</style>

<main id="content" role="main" style="min-height: 500px;">

    <div class="grid-row" style="padding: 15px;">
		
        <div class="full">

            <header class="page-header" style="margin-top: 0;">
                <p class="page-header--sub heading-secondary">Backlog</p>
                <h1 class="page-header--lede heading-xlarge" style="margin-bottom: 0.5555555556em;margin-top: 10px;">Digital LIS applications</h1>
              </header>

<hr>
            
            <div>
                <p><span class="heading-medium">
                    <script> 

var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = dd + '/' + mm + '/' + yyyy;
document.write(today);
                          
                        </script> (26 Applications)</span>
                        <br>
                        <br>
                <strong style="font-weight: bold;">3</strong> In progress<br><strong style="font-weight: bold;">17</strong> Awaiting action<br>---<br><strong style="font-weight: bold;">6</strong> Awaiting evidence
                
                </p>
            </div>
			
        </div>
        </div>

</main>

{% endblock %}