{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            This is a new service
            <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-header">
                <p class="page-header--sub heading-secondary">Before you start</p>
                <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What is the main applicants date of
                        birth?</h1>
                        <p>We will require this information when you return to application.</p>
            </header>


            <form action="jobtitle-handler" method="get" class="form">

                <fieldset>
                    <!--     <legend class="form-label-bold">Date of birth</legend> -->
                    <!-- <p>We only use this to check if your age entitles you to any help.</p> -->
                    <p class="form-hint" id="dob-hint" style="margin-bottom: 0px">For example, 31 07 1961</p>

                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label class="form-label" for="dob-day">Day</label>
                            <input class="form-control" id="dobday" name="dobday" type="text" pattern="[0-9]*" min="0"
                                max="31" aria-describedby="dob-hint">
                        </div>

                        <div class="form-group form-group-month">
                            <label class="form-label" for="dob-month">Month</label>
                            <input class="form-control" id="dobmonth" name="dobmonth" type="text" pattern="[0-9]*" min="0"
                                max="12">
                        </div>

                        <div class="form-group form-group-year">
                            <label class="form-label" for="dob-year">Year</label>
                            <input class="form-control" id="dobyear" name="dobyear" type="text" pattern="[0-9]*" min="0"
                                max="2016">
                        </div>
                    </div>
                </fieldset>


            </form>
            <br>
            <div class="form-group">
                    <a href="saved-email-bys"><input class="button" type="submit" value="Continue"></a>
                </div>

        </div>
    </div>
</main>
</main>

{% endblock %}