{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Before you start</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What email address should we send the link to?</h1>
        <p class="form-hint">We'll send a link to the email address you provide. This will allow you to save and return to your application within 7 days.</p>
        <p class="form-hint">This email may go to your junk mail folder. If you do not get an email, <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">contact us</a>.</p>
        <p class="form-hint">Your data is held securely. We'll use this data to confirm your identity when you return to the application.</p>
      </header>


      <form action="emailaddressSaveRestoreiteration2-handler" method="get" class="form">

          

        <div class="form-group">
          <label class="form-label" for="emailaddress"></label>
          <input class="form-control" id="emailaddress" name="emailaddress" type="text">
        </div>



      </form>

      <div class="form-group">
          <a href="saved"><input class="button" type="submit" value="Continue"></a>
      </div>

    </div>
  </div>
</main>
</main>

{% endblock %}