{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
          <p class="page-header--sub heading-secondary">Save an application</p>
          {% if thirdparty %}
          <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">Check their email</h1>
          <p>We've sent a 6 digit code to <strong style="font-weight: bold;">email@emailaddress.com</strong>. Enter the code to save this application.</p>
          {% else %}
          <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">Check your email</h1>
          <p>We've sent a 6 digit code to <strong style="font-weight: bold;">email@emailaddress.com</strong>. Enter the code to save this application.</p>
          {% endif %}
      </header>

      <form action="saveapplicationemailBYSiteration2-handler" method="get" class="form">

        <div class="form-group">
          
          {% if thirdparty %}
          <label style="font-weight: bold;" class="form-label" for="code">Enter their code</label>
          {% else %}
          <label style="font-weight: bold;" class="form-label" for="code">Enter your code</label>
          {% endif %}
          <input class="form-control" id="code" name="code" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6">
        </div>

        <div class="form-group">
            <input class="button" type="submit" value="Continue">
        </div>

      </form>

      <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                {% if thirdparty %}
                <span class="summary">They haven't got an email</span>
                {% else %}
                <span class="summary">I haven't got an email</span>
                {% endif %}
            </summary>
            <br>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                {% if thirdparty %}
                <p>If we've sent them an email, it might have gone to their junk folder.</p>
                <p>If they did not get an email, <a href="return-simple">try again</a>.</p>
                {% else %}
                <p>If we've sent you an email, it might have gone to your junk folder.</p>
                <p>If you did not get an email, <a href="return-simple">try again</a>.</p>
                {% endif %}
            </div>
        </details>
  
        <details role="group">
            <summary role="button" aria-controls="details-content-1" aria-expanded="false">
                <span class="summary">Entered the wrong email address?</span>
            </summary>
            <br>
            <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
                <p>The message we send does not contain any personal data.</p>
                {% if thirdparty %}
                <p>If they've entered the wrong email address, <a href="return-simple">try again</a>.</p>
                {% else %}
                <p>If you've entered the wrong email address, <a href="return-simple">try again</a>.</p>
                {% endif %}
            </div>
        </details>



    </div>
  </div>
</main>
</main>

{% endblock %}