{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Save an application</p>
        <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">Choose a memorable word</h1>
        {% if thirdparty %}
        <p>We'll ask for this when they continue this application. Make sure they choose a word that's easy to remember.</p>
        {% else %}
        <p>We'll ask for this when you continue this application. Make sure you choose a word that's easy to remember.</p>
        {% endif %}
        
      </header>



        <div class="form-group">
          <input class="form-control" id="memorableword" name="memorableword">
        </div>

        <div class="form-group">
            <a href="saved-textmessage"><input class="button" type="submit" value="Continue"></a>
        </div>









    </div>
  </div>
</main>
</main>

{% endblock %}