{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Before you start</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Do you live with a partner?</h1>
      </header>

      <p>This means you live together as a couple, you don't have to be married or in a civil partnership.</p>

      <form action="partnerSaveRestoreiteration2-handler" method="get" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="partner" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="partner" value="no">
              <label for="no">No</label>
            </div>

          </fieldset>

          <br>

          <details role="group">
              <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">When can I apply for someone else?</span></summary>
              <br>
              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
      
                <p style="font-weight: bold;">If you're responsible for their financial affairs</p>
                <p>You can complete the form on behalf of someone else if you are responsible for their financial affiars because they have either:</p>
  
                <ul class="list-bullet">
                  <li>earning difficulties</li>
                  <li>a condition which prevents them from managing their own affairs</li>
                </ul>
  
                <br>
                <div class="notice">
                      <i style="bottom: 25%; top: 25%;" class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                      <strong class="bold-small">You are responsible for making sure the information entered is correct and complete.</strong>
                </div>
                <br>
  
                <p style="font-weight: bold;">If you're just helping to complete the form</p>
                <p>You should select the 'myself' option.</p>
                <p>You can help to complete the form, but they are responsible for the information given.</p>
  
  
              </div>
      
      

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue"></div>
        </div>

        

      

        

      </form>
    </div>
  </div>
  <div class="grid-row">
    <div class="full">

        <p style="padding: 0 15px;"><a style="font-weight: bold;" href="text-or-email">Save and continue later</a></p>

    </div>


      
  </div>
</main>
</main>

{% endblock %}