{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
          <p class="page-header--sub heading-secondary">Continue an application</p>
        <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">How did you save the application?</h1>
          <p class="form-hint">We'll send you a code that you can use to continue.</p>
      </header>

      <form action="textemailSaveRestoreiteration2-handler" method="get" class="form">


          <fieldset class="form-group">

              <div class="multiple-choice" data-target="email">
                <input id="yes" name="textemail" type="radio" value="email">
                <label for="yes" style="line-height: 195%;">Email</label>
              </div>

              <div class="panel panel-border-narrow js-hidden" id="email">
                  <label class="form-label-bold" for="nhsno">Email address</label>
                  <div>
                    <input class="form-control" id="full-name-f2" name="full-name-f2" type="text">
                  </div>
                  <br>
                </div>

              <div class="multiple-choice" data-target="textmessage">
                <input id="no" name="textemail" type="radio" value="textmessage">
                <label for="no" style="line-height: 195%;">Mobile</label>
              </div>



              <div class="panel panel-border-narrow js-hidden" id="textmessage">
                  <label class="form-label-bold" for="nhsno">Mobile phone number</label>
                  <div>
                    <input class="form-control" id="full-name-f2" name="full-name-f2" type="text">
                  </div>
                  <br>
                </div>

            </fieldset>

            <div class="form-group">
                <input class="button" type="submit" value="Continue">
            </div>

      </form>



    </div>
  </div>
</main>
</main>

{% endblock %}