{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
    @media screen and (max-width: 640px) {
    .save-restore-mobile {
        display: block;
        text-align: center;
    }
    }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

        <div id="validation" class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There is a problem</h1>
            <ul class="error-summary-list">
                <li><a href="#resumeApplication">Enter a valid memorable word.</a></li>
            </ul>
        </div>

      <header class="page-header">
        <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">Resume an
          application</h1>
        <p class="lede">We’ll use these details to find your application. You’ll be able to continue an application
          from where you left off.</p>
      </header>
      <br>

      <form action="resumeapplicationiteration2-handler" method="get" class="form">

          <div class="form-group">
            <label style="font-weight: bold;" class="form-label" for="memorableword">What is your memorable word?</label>
            <p class="form-hint">You provided this when you saved your application.</p>
            <input class="form-control" id="memorableword" name="memorableword" type="text">
          </div>
  
          <div class="form-group">
            <label style="font-weight: bold;" class="form-label" for="reference">What is your reference number?</label>
            <p class="form-hint">For example, 'K5G-V78'</p>
            <input class="form-control" id="reference" name="reference" type="text">
          </div>
  
          <div class="form-group">
  
            <label style="font-weight: bold;" class="form-label" for="day">What is your date of birth?</label>
            <p class="form-hint">For example, 31 3 1980</p>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label for="day">Day</label> <input class="form-control" id="day" max="31" min="0" name="day"
                  pattern="[0-9]*" type="number">
              </div>
  
              <div class="form-group form-group-month">
                <label for="month">Month</label> <input class="form-control" id="month" max="12" min="0" name="month"
                  pattern="[0-9]*" type="number">
              </div>
  
              <div class="form-group form-group-year">
                <label for="year">Year</label> <input class="form-control" id="year" max="2014" min="0" name="year"
                  pattern="[0-9]*" type="number">
              </div>
  
            </div>
  
          </div>
  
          <div class="form-group">
              <input class="button" type="submit" value="Continue">
          </div>
  
        </form>
  



    </div>
  </div>
</main>
</main>

{% endblock %}