{% extends "layout_bsa.html" %} {% block page_title %} NHSBSA Prototype {% endblock %} {% block content %}
<main id="content" role="main">

        <div class="grid-row">
      
                <div class="column-two-thirds">
      
                <div class="phase-banner">
      
                    <p>
                        <strong class="phase-tag">BETA</strong>
                        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                    </p>
      
                </div>
      
                <div class="done-panel" style="
        margin-bottom: 0;
      ">
                    <h1 class="heading-xlarge">
                        <i class="icon icon-important" style="background-image: url('/public/images/bsa/tick.svg'); background-size: 100%;">
                        </i>
          
                             Application saved</h1>
                    <h2 class="heading-large"><span class="heading-secondary" style="color: white !important">Reference
                            number</span> K5G-V78</h2>
      
      
                </div>
                <br>
      
                <p>A link to your application has been sent to [email address].</p>
                
                <details role="group">
                        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="summary">If you've made a mistake entering your email address</span>
                        </summary>
                        <br>
                        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                            <p>Continue your application as normal. You can save it again and enter an amended email address.</p>
                            <p>The email we send contains no personal data. We have internal checks in place to make sure it's you continuing your application.</p>
                        </div>
                    </details>
                    <br>

                
                              <p>
                          <a class="button" href="email" id="Continue">Continue</a>
                        </p>
      
      
            </div>
      
      
      
        </div>
        

      
      
      
      
      </main>
{% endblock %}