{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style>
  .callout {
    border: 8px solid #0072ce;
    padding: 16px;
    padding-top: 0 !important;
}
.form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
@media (min-width: 641px) {
.form-group {
    margin-bottom: 30px;
}
}
</style>
<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Before you start</p>
        <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">What you'll need</h1>
      </header>

      <p>We'll ask for information about:</p>

      <ul class="list list-bullet">
        <li>income - how much you get from any pensions or benefits</li>
        <li>housing costs - what you pay for things like Council Tax and rent</li>
      </uL>

      <h2 class="heading-medium" style="margin-top: 1.25em">We might ask you to send us copies of your: </h2>
      <ul class="list list-bullet">
        <li>payslips, if you have a job</li>
        <li>latest Working Tax Credit award notice, if you get tax credits and have a job</li>
        <li>Universal Credit award notice, if you get Universal Credit</li>
      </ul>

      <br>

      <details>
        <summary><span class="summary">Documents you'll find helpful</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

          <p>For your own reference, you might need:</p>
          <ul class="list-bullet">
            <li>rent or mortgage statements</li>
            <li>latest Council Tax bill or Council Tax benefit letter</li>
            <li>pension details</li>
            <li>latest statement of benefits or award notice</li>
            <li>savings, investments and property details</li>
          </ul>
        </div>


      </details>

      <br><br>

      <div class="form-group">
        <a href="applying-for"><input class="button" type="submit" value="Continue"></a>
      </div>

    </div>

  </div>

</main>

{% endblock %}