{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block content %}
<style>
  #capitalize::first-letter {
    text-transform: uppercase;
  }
</style>
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Apply for help with NHS costs</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Check your answers</h1>
      </header>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        July 2019
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <h2 class="heading-small">Income</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question" style="border: 0 !important;">
            <p id="capitalize" style="margin-bottom: 0;">Gross pay</p>
          </dt>
          <dd class="cya-answer" style="border: 0 !important;">
            <p id="capitalize" style="margin-bottom: 0;">£{{ data['grosshowmuch'] }}</p>
          </dd>
          <dd class="cya-change" style="border: 0 !important;">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="heading-small">Deductions</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question" style="border: 0 !important;">
            <p id="capitalize">Tax<br>National insurance
              {% if data['workpension'] == "yes" %}
              <br>
              Work pension
              {% endif %}
            </p>
          </dt>
          <dd class="cya-answer" style="border: 0 !important;">
            <p id="capitalize">£{{ data['taxhowmuch'] }}<br>£{{ data['NIhowmuch'] }}
              {% if data['workpension'] == "yes" %}
              <br>
              £{{ data['pensionhowmuch'] }}
              {% endif %}
            </p>
          </dd>
          <dd class="cya-change" style="border: 0 !important;">
            <a href="#">Change</a><br>
            <a href="#">Change</a>{% if data['workpension'] == "yes" %}<br><a href="#">Change</a>{% endif %}
          </dd>
        </div>
      </dl>

      <hr>
      
      <h2 class="heading-medium" style="margin-top: 0.83333em;">Total income after deductions: 
      


          {% if data['workpension'] == "no" %}
          <span style="font-weight: normal;">£{{ data['grosshowmuch'] - data['taxhowmuch'] - data['NIhowmuch'] }}</span>
          {% endif %}

          {% if data['workpension'] == "yes" %}
          <span style="font-weight: normal;">£{{ data['grosshowmuch'] - data['taxhowmuch'] - data['NIhowmuch'] - data['pensionhowmuch'] }}</span>
          {% endif %}
      
      </h2>




      <hr>




      <br>

      <div class="form-group">

        <a href="job-gross2"><input class="button" type="submit" value="Next"></a>

      </div>



    </div>
  </div>
</main>

{% endblock %}