{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block content %}
<script src="/public/javascripts/dropzone.js"></script>
<link rel="stylesheet" href="/public/stylesheets/dropzone.css">
<script>
  // "myAwesomeDropzone" is the camelized version of the HTML element's ID
  Dropzone.options.myAwesomeDesktopDropzone = {
    dictDefaultMessage: "<p>Drag and drop files here</p><p>or</p><p style='color: #005EB8; text-decoration: underline;'>click to choose a file</p>"
  };

  // "myAwesomeDropzone" is the camelized version of the HTML element's ID
  Dropzone.options.myAwesomeMobileDropzone = {
    dictDefaultMessage: "<p style='color: #005EB8; text-decoration: underline;'>Choose a file</p><p>or</p><p><a href='#'><input class='button' type='submit' value='Take a photo' capture='camera'></a></p>"
  };
</script>

<style>
  #capitalize::first-letter {
    text-transform: uppercase;
  }

  .dropzone {
    border: 2px dashed #005EB8;
    margin-bottom: 30px;
    padding: 30px;
  }

  .dz-message {
    width: 100%;
    text-align: center;
  }

  .upload-desktop {
    display: none;
  }

  .upload-desktop p {
    margin-bottom: 5px;
  }

  .upload-mobile {
    display: block;
  }

  .upload-mobile p {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 641px) {
    .upload-desktop {
      display: block;
    }

    .upload-mobile {
      display: none;
    }

  }
  .c-uploads {
    border-top: 1px solid #bfc1c3;
}
.c-uploads-item {
    border-bottom: 1px solid #bfc1c3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.c-uploads-item p {
margin: 0;
}
</style>


<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Apply for help with NHS costs</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Upload your
          '{{ data['jobtitle'] }}' payslips</h1>
      </header>

      <p>You need to upload a digital photo or scan of your '{{ data['jobtitle'] }}' payslips.</p>

      <p>You need to upload copies of your {% if data['joboften'] == "every week" %}
        <span style="font-weight: bold;">last 5 payslips</span>
        {% endif %}

        {% if data['joboften'] == "every 2 weeks" %}
        <span style="font-weight: bold;">last 4 payslips</span>
        {% endif %}

        {% if data['joboften'] == "every 4 weeks" %}
        <span style="font-weight: bold;">last 2 payslips</span>
        {% endif %}

        {% if data['joboften'] == "every calendar month" %}
        <span style="font-weight: bold;">last 2 payslips</span>
        {% endif %} leading up to <span style="font-weight: bold;">
          <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
              dd = '0' + dd
            }

            if (mm < 10) {
              mm = '0' + mm
            }

            today = dd + '/' + mm + '/' + yyyy;
            document.write(today);
          </script></span>.</p>

      <details role="group">

        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">How to
            take the pictures</span></summary><br>

        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">


          <ol class="list list-number">

            <li>Place your payslip on a flat service in a well lit room. Use a flash if you need to.</li>

            <li>Take a good quality picture of the entire payslip. You should be able to see its edges.</li>

            <li>Check that the image is in focus. You must be able to read all the writing on the payslip,
              including the handwriting. Zoom in if you need to check this.</li>

            <li>Send the picture to this device (For example, by email) and save it.</li>

          </ol>

        </div>

      </details>

      <p></p>

      <p>The images must be of the entire payslip and has to be readable by the assessment team.
        You can upload a jpg, bmp, png or PDF (maximum file size 10MB).</p>

      <div class="upload-desktop">
        <form action="/file-upload" class="dropzone" id="my-awesome-desktop-dropzone">
        </form>
      </div>

      <div class="upload-mobile">
        <form action="/file-upload" class="dropzone" id="my-awesome-mobile-dropzone">
        </form>
      </div>

      <h2 class="heading-small" id="uploads">Uploaded files</h2>

      <div class="c-uploads" id="upload-documents" role="upload-documents" aria-labelledby="uploads" aria-live="polite"><div class="c-uploads-item"><p class="c-uploads-empty">No files uploaded</p></div></div>

      <br>
      <form action="payslip-iteration-3-handler" method="get" class="form">
      <details role="group">

        <summary role="button" aria-controls="details-content-1" aria-expanded="false"><span class="summary">I can’t
            upload my payslips</span></summary><br>

        <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="false" style="padding-bottom: 15px;
                  padding-top: 15px;">

          <p>You can still apply for help with your NHS costs, but it will take longer to receive a decision.</p>
          <p>After you submit this application, you will be given instructions on how to post us copies of your payslips instead.</p>

          <fieldset class="form-group">
            <div class="multiple-choice multiple-radio" style="margin-top: 0">
              <input id="uploadskip" name="uploadskip" value="uploadskip" type="checkbox">
              <label for="uploadskip" style="margin-top: 5px; margin-bottom: 5px;">I understand and want to
                continue without uploading</label>
            </div>
          </fieldset>

        </div>

      </details>
      <br>
      
          <div class="form-group">
              <input class="button" type="submit" value="Next">
          </div>
      </form>



    </div>
  </div>
</main>

{% endblock %}