{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<style>
  .white-button {
    background-color: #ffffff !important;
    color: #005ea5 !important;
    box-shadow: #00243f 0px 2px 0px 0px !important;
  }

  .white-button:hover {
    background-color: #f2f2f2 !important;
    color: #005ea5 !important;
  }

  .white-link {
    color: white !important;
    text-decoration: underline !important;
  }

  .white-link:hover {
    color: #e6e6e6 !important;
  }
</style>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div style="background-color: #005EB8; padding: 25px; margin-top: 1.8em; color: white;">
        
          <header class="page-header" style="margin-top: 10px;">
              <p class="page-header--sub heading-secondary" style="color: white;">Apply for help with NHS costs</p>
              <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Upload your
                '{{ data['jobtitleloop']}}' payslips</h1>
            </header>
           

        <p>

          We require further information about the last 

          {% if data['joboftenloop'] == "every week" %}
          <span style="font-weight: bold;">5 weeks</span>
          {% endif %}

          {% if data['joboftenloop'] == "every 2 weeks" %}
          <span style="font-weight: bold;">4 weeks</span>
          {% endif %}

          {% if data['joboftenloop'] == "every 4 weeks" %}
          <span style="font-weight: bold;">2 months</span>
          {% endif %}

          {% if data['joboftenloop'] == "every calendar month" %}
          <span style="font-weight: bold;">2 months</span>
          {% endif %} of income from your <span style="font-weight: bold;">‘{{ data['jobtitleloop'] }}’</span> job.

        </p>

        <hr style="background: white;">
        
        <h2 class="heading-small" style="margin-top: 25px;">We'll ask you to upload:</h2>

        <ul class="list list-bullet">
          <li>photos or scans of your last

            {% if data['joboftenloop'] == "every week" %}
            <span style="font-weight: bold;">5</span>
            {% endif %}

            {% if data['joboftenloop'] == "every 2 weeks" %}
            <span style="font-weight: bold;">4</span>
            {% endif %}

            {% if data['joboftenloop'] == "every 4 weeks" %}
            <span style="font-weight: bold;">2</span>
            {% endif %}

            {% if data['joboftenloop'] == "every calendar month" %}
            <span style="font-weight: bold;">2</span>
            {% endif %}

            payslips leading up to <script>
              var today = new Date();
              var dd = today.getDate();
              var mm = today.getMonth() + 1; //January is 0!
              var yyyy = today.getFullYear();

              if (dd < 10) {
                dd = '0' + dd
              }

              if (mm < 10) {
                mm = '0' + mm
              }

              today = dd + '/' + mm + '/' + yyyy;
              document.write(today);
            </script>.
          </li>
        </ul>







        <hr style="background: white;">

       

        <p>If you currently do not have this information to hand, you can save and continue your application later.</p>

        <p>Your application will be saved for a total of 6 days.</p>

        

        <a href="job-upload2" role="button" class="button white-button">
          Next
        </a>

        <p style="margin-top: 20px;"><a class="white-link" href="#">Save and continue later</a></p>


      </div>


    </div>
  </div>
</main>

{% endblock %}