{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block content %}
<script src="/public/javascripts/dropzone.js"></script>
<link rel="stylesheet" href="/public/stylesheets/dropzone.css">
<script type="text/javascript">
    (function (root) {
      
      
      // This is NOT production ready! I have prepared something for Steve Wise (SSCS)
      // This requires a lot of work for JS and non-JS as well as styling and testing
      
      
        "use strict";
      
      
        // check if element exists
        var element = document.querySelector(".dropzone");
        if (!element) return;
      
      
        Dropzone.options.uploadWidget = {
      
            paramName: "file",
            maxFilesize: 10, // MB
            maxFiles: 10,
            dictDefaultMessage: "Drag and drop files here or click to choose a file",
            headers: {
                "x-csrf-token": document.querySelectorAll("meta[name=csrf-token]")[0].getAttributeNode("content").value,
            },
            acceptedFiles: "image/*, application/pdf",
      
            // Init
            init: function() {
      
      
                var files = 0;
      
      
                // If we have no files, we need an empty message
                this.on("removedfile", function(file) {
      
                        files--;
      
                        if (files <= 0) {
                            document.querySelector("#upload-documents").innerHTML = '<div class="c-uploads-item"><p class="c-uploads-empty">No files uploaded</p></div>';
                        }
      
                    }),
      
      
                    this.on("addedfile", function(file) {
      
                        files++;
      
                        // If we have 1 file then we no longer need an empty message
                        if (files === 1) {
                            document.querySelector("#upload-documents").innerHTML = '';
                        }
      
      
                        // Create the remove button
                        var removeButton = Dropzone.createElement('<div class="c-uploads-item"><span class="c-uploads-item__filename">' + file.name + '</span><span class="c-uploads-item__action"><button class="c-uploads-button" aria-controls="upload-documents">Remove</button></span></div>');
      
      
      
                        // Get the element I want to add new elements to
                        var target = document.querySelector("#upload-documents");
      
      
                        // Capture the Dropzone instance as closure
                        var _this = this;
      
      
                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
      
                            // Make sure the button click doesn't submit the form
                            e.preventDefault();
                            e.stopPropagation();
      
                            // Remove the file preview
                            _this.removeFile(file);
      
                            // Remove item
                            this.remove();
      
                        });
      
                        target.appendChild(removeButton);
      
                    });
      
            }
      
        };
        
      
      })(this);
    </script>

<style>
  #capitalize::first-letter {
    text-transform: uppercase;
  }

  .dropzone {
    border: 2px dashed #005EB8;
    margin-bottom: 30px;
    padding: 30px;
  }

  .dz-message {
    width: 100%;
    text-align: center;
  }

  .upload-desktop {
    display: none;
  }

  .upload-desktop p {
    margin-bottom: 5px;
  }

  .upload-mobile {
    display: block;
  }

  .upload-mobile p {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 641px) {
    .upload-desktop {
      display: block;
    }

    .upload-mobile {
      display: none;
    }

  }
  .c-uploads {
    border-top: 1px solid #bfc1c3;
}
.c-uploads-item {
    border-bottom: 1px solid #bfc1c3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.c-uploads-item p {
margin: 0;
}
</style>


<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>











      <h2 class="heading-large">Upload your marriage certificate</h2>

      <div class="text">
      
        <p>You need to upload a digital photo or scan of your marriage certificate.</p>
        
        <p>You can also upload any other documents that you want to send to the court.</p>
        
        <p>
        
          <details>
      
            <summary><span class="summary">How to take the picture</span></summary>
      
            <div class="panel panel-border-narrow">
              
              <ol class="list list-number">
              
                <li>Place your certificate on a flat service in a well lit room. Use a flash if you need to.</li>
                
                <li>Take a good quality picture of the entire certificate. You should be able to see its edges.</li>
                
                <li>Check that the image is in focus. You must be able to read all the writing on the certificate, 
                including the handwriting. Zoom in if you need to check this.</li>
                
                <li>Send the picture to this device (For example, by email) and save it.</li>
                
              </ol>
              
            </div>
      
          </details>
          
        </p>
      
        <p>The image must be of the entire document and has to be readable by court staff. 
        You can upload a jpg, bmp, png or PDF (maximum file size 10MB).</p>  
        
        <form class="dropzone" method="post" action="/upload" id="upload-widget" tabindex="0">
          
          <div class="dz-message">          
            <div class="dz-message-icon"></div>      
            <div class="dz-message-text">Drag and drop files here <br>or<br> <span class="link">click to choose a file</div>
          </div>    
          
          <div class="form-group">
            <label class="form-label" for="file-input">Upload a file</label>
            <input type="file" id="file-input" multiple>
          </div>
          
        </form>
        
      
        <h2 class="heading-small" id="uploads">Uploaded files</h2>
        
        <div class="c-uploads" id="upload-documents" role="upload-documents" role="region" aria-labelledby="uploads" aria-live="polite">
      
          <div class="c-uploads-item">
            <p class="c-uploads-empty">No files uploaded</p>
          </div>
        
        </div>
      
        
        <p>
        
          <details>
      
            <summary><span class="summary">I can’t upload my documents</span></summary>
      
            <div class="panel panel-border-narrow">
      
              <p class="bold-small">Complete your application first, then post them to the court at this address:</p>
              
              <p>
                Bury St Edmunds Divorce Centre<br>
                2nd Floor<br>
                Triton House<br>
                St Andrews Street North<br>
                Bury St Edmunds<br>
                IP33 1TR
              </p>
              
              <p>Your marriage certificate will be kept by the court and won’t be returned to you.</p>
              
            </div>
      
          </details>
          
        </p>
      
      </div>
      

    </div>
  </div>
</main>

{% endblock %}

