{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Wages from a job</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">How many hours a week are
          you contracted to work at your '{{ data['jobtitle']}}' job?</h1>
      </header>

      <br>

      <form action="jobhours-handler" method="get" class="form">

        <p class="form-hint">For example, 37 hours 30 minutes</p>

        <div class="form-group">

            <span style="display:inline-block; width: 65px; margin-right: 5px;">
                <label class="form-label" for="jobhours">Hours</label>
                <input class="form-control" id="jobhours" name="jobhours" max="168" style="width: 100% !important;">
            </span>
            <span style="margin-right: 5px;">:</span>
            <span style="display:inline-block; width: 65px;">
                <label class="form-label" for="jobminutes">Minutes</label>
                <input class="form-control" id="jobminutes" name="jobminutes" max="59" style="width: 100% !important;">
            </span>

        </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with contracted hours
              </span>
            </summary>
            <div class="govuk-details__text">
                A worker is often contracted to work a specific amount of hours each week. If you are unaware of your contracted hours, please speak to your employer.
            </div>
          </details>

          <br>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>

    </div>
  </div>
</main>
</main>

{% endblock %}