{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Income and other money</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What was your start date?</h1>
      </header>

      <br>

      <form action="jobstartdate-handler" method="get" class="form">

          <div class="form-group">
          <fieldset>
              <p class="form-hint">For example, 31 10 2018</p>
          
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="jobstartdateday">Day</label>
                  <input class="form-control" id="jobstartdateday" name="jobstartdateday" type="text" pattern="[0-9]*" min="0" max="31">
                </div>
          
                <div class="form-group form-group-month">
                  <label class="form-label" for="jobstartdatemonth">Month</label>
                  <input class="form-control" id="jobstartdatemonth" name="jobstartdatemonth" type="text" pattern="[0-9]*" min="0" max="12">
                </div>
          
                <div class="form-group form-group-year">
                  <label class="form-label" for="jobstartdateyear">Year</label>
                  <input class="form-control" id="jobstartdateyear" name="jobstartdateyear" type="text" pattern="[0-9]*" min="0" max="2016">
                </div>
              </div>
            </fieldset>
            </div>

        <div class="form-group">
            <input class="button" type="submit" value="Next">
        </div>

      </form>

    </div>
  </div>
</main>
</main>

{% endblock %}