{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block content %}
<style>
#capitalize::first-letter {
    text-transform: uppercase;
}
</style>
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Apply for help with NHS costs</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Check your answers</h1>
      </header>


            <!-- only add a heading for a list if there is more than one list -->
            <h2 class="heading-medium">
                Income from pensions
              </h2>
        
              <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
              <!--   * `cya-questions-short` for short questions -->
              <!--   * `cya-questions-long` for long questions -->
              <!--   * none for single group of q&a -->
              <dl class="govuk-check-your-answers cya-questions-short">
                  <div>
                    <dt class="cya-question">
                      <h2 class="heading-small">Get paid a pension</h2>
                    </dt>
                    <dd class="cya-answer">
                      <p id="capitalize">Yes</p>
                    </dd>
                    <dd class="cya-change">
                      <a href="#">
                        Change
                      </a>
                    </dd>
                  </div>
                  <div>
                      <dt class="cya-question">
                        <h2 class="heading-small">Claim a UK State Pension</h2>
                      </dt>
                      <dd class="cya-answer">
                        <p id="capitalize">Yes</p>
                      </dd>
                      <dd class="cya-change">
                        <a href="#">
                          Change
                        </a>
                      </dd>
                    </div>
                    <div>
                        <dt class="cya-question">
                          <h2 class="heading-small">State Pension paid</h2>
                        </dt>
                        <dd class="cya-answer">
                          <p id="capitalize">Every 4 weeks</p>
                        </dd>
                        <dd class="cya-change">
                          <a href="#">
                            Change
                          </a>
                        </dd>
                      </div>
                      <div>
                          <dt class="cya-question">
                            <h2 class="heading-small">State Pension amount</h2>
                          </dt>
                          <dd class="cya-answer">
                            <p id="capitalize">£123</p>
                          </dd>
                          <dd class="cya-change">
                            <a href="#">
                              Change
                            </a>
                          </dd>
                        </div>
                <div>
                  <dt class="cya-question" style="border: 0 !important;">
                    <h2 class="heading-small">Name of your private or workplace pension</h2>
                  </dt>
                  <dd class="cya-answer" style="border: 0 !important;">
                    <p id="capitalize">Scottish Widows</p>
                  </dd>
                  <dd class="cya-change" style="border: 0 !important;">
                    <a href="#">
                      Change
                    </a>
                  </dd>
                </div>
        
                <div>
                  <dt class="cya-question" style="border: 0 !important;">
                    <h2 class="heading-small">Private or workplace pension paid</h2>
                  </dt>
                  <dd class="cya-answer" style="border: 0 !important;">
                      <p id="capitalize">Every 4 weeks</p>
                  </dd>
                  <dd class="cya-change" style="border: 0 !important;">
                    <a href="#">
                      Change
                    </a>
                  </dd>
                </div>
        
                <div>
                  <dt class="cya-question">
                    <h2 class="heading-small">Private or workplace pension amount</h2>
                  </dt>
                  <dd class="cya-answer">
                      <p id="capitalize">£123</p>
                  </dd>
                  <dd class="cya-change">
                    <a href="#">
                      Change
                    </a>
                  </dd>
                </div>
        
                <div>
                  <dt class="cya-question">
                    <h2 class="heading-small">Get another pension</h2>
                  </dt>
                  <dd class="cya-answer">
                    <p id="capitalize">No</p>
                  </dd>
                  <dd class="cya-change">
                    <a href="#">
                      Change
                    </a>
                  </dd>
                </div>
        
        
              </dl>
        

      <br>

      <div class="form-group">
        <a href="/apply/task-list/task-list"><input class="button" type="submit" value="Next"></a>
      </div>



    </div>
  </div>
</main>

{% endblock %}