{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<style>
  .callout {
    border: 8px solid #0072ce;
    padding: 16px;
    padding-top: 0 !important;
}
.form-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
@media (min-width: 641px) {
.form-group {
    margin-bottom: 30px;
}
}
</style>
<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 style="margin-top: 0; margin-bottom: 0.625em;" class="page-header--lede heading-large">About your benefits</h1>
      </header>

      <p>We will only ask about benefits that can affect the outcome of your application.</p>

      <p>We'll ask for information about:</p>

      <ul class="list list-bullet">
        <li>What benefits you are receiving</li>
        <li>proof of your Universal Credit application or award notice (if you get Universal Credit)</li>
        <li>your latest Tax Credits award notice (if you get Tax Credits)</li>
      </uL>

      <br>

      <div class="form-group">
        <a href="/apply/income/pension/pension-name"><input class="button" type="submit" value="Next"></a>
      </div>

    </div>

  </div>

</main>

{% endblock %}