{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">What other benefits do you receive?</h1>
      </header>

      <form action="additionalbenefitsiteration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset class="inline">

              <p class="form-hint">We will only ask further details about benefits that can affect the outcome of your application.</p>
              <textarea rows="5" class="form-control" id="textarea" id="pay" name="nonehowsupporting" maxlength="375"></textarea>
              <p class="form-hint" style="margin-top: 10px;">You have <span id="chars">375</span> characters remaining</p>
          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>

<script>
  var maxLength = 375;
  $('textarea').keyup(function() {
    var length = $(this).val().length;
    var length = maxLength-length;
    $('#chars').text(length);
  });
</script>

{% endblock %}