{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Do you get a Guaranteed Income Payment as part of your Armed Forces Compensation Scheme?</h1>
      </header>

      <p>We don't need to know about any lump sum you may have received.</p>

      <form action="armedforcescstypeiteration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset>
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice" data-target="week-reveal">
                <input id="armedforcescs-yes" name="armedforcescs" value="armedforcescs" type="radio">
                <label for="armedforcescs-yes"><p style="margin-bottom: 7px;">Yes</p></label>
            </div>
    
                <div class="panel panel-border-narrow js-hidden" id="week-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                  <h2 class="heading-small" style="padding-bottom: 5px;">How much Guaranteed Income Payment do you get each month?</h2>
                  <div class="form-hint">
          
                      The amount must include pence. For example, £146.20
                  
                        </div>
                  <div class="form-group">
                      <label class="form-label" for="armedforcescsweek"></label>
                      <input class="form-control" id="armedforcescsweek" name="armedforcescsweek" type="text">
                  </div>
                </div>
    
            <div class="multiple-choice">
                <input id="armedforcescs-no" name="armedforcescs" value="armedforcescs" type="radio">
                <label for="armedforcescs-no"><p style="margin-bottom: 7px;">No</p></label>
            </div>
              

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}