{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% set benefitCount = data['benefitList'] | length %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">You have added {{ benefitCount }} additional benefit{% if benefitCount > 1 %}s{% endif %}</h1>
      </header>

      <h2 class="heading-small">Additional benefits</h2>

      <table>
          <tbody>

              <!-- {% if data['universalcredit'] == "yes" %}

              <tr>
                  <td valign="top" style="width: 75%">Universal Credit</td>
                  <td valign="top" style="width: 25%"><a href="#">Edit<span class="visuallyhidden">Scottish Widows pension amount or
                              frequency of payments</span></a> or <a href="#">Remove<span class="visuallyhidden">Scottish
                              Widows from your pension income</span></a>
                  </td>
              </tr>

              {% endif %}

              {% if data['taxcredits'] == "yes" %}

              <tr>
                  <td valign="top" style="width: 75%">{% if data['taxcredittype'] == "WTCCTC" %}Working Tax Credit and Child Tax Credit together{% endif %}{% if data['taxcredittype'] == "WTCDisability" %}Working Tax Credit on its own, including a disability element{% endif %}{% if data['taxcredittype'] == "CTC" %}Child Tax Credit on its own{% endif %}{% if data['taxcredittype'] == "WTC" %}Working Tax Credit on its own{% endif %}</td>
                  <td valign="top" style="width: 25%"><a href="#">Edit<span class="visuallyhidden">Scottish Widows pension amount or
                              frequency of payments</span></a> or <a href="#">Remove<span class="visuallyhidden">Scottish
                              Widows from your pension income</span></a>
                  </td>
              </tr>

              {% endif %} -->


{% for benefitName in data['benefitList'] %}

        <tr>
            <td valign="top" style="width: 75%">{{ benefitName}}</td>
            <td valign="top" style="width: 25%"><a href="#">Edit<span class="visuallyhidden">Scottish Widows pension amount or
                        frequency of payments</span></a> or <a href="#">Remove<span class="visuallyhidden">Scottish
                        Widows from your pension income</span></a>
            </td>
        </tr>

{% endfor %}
    </tbody>
    </table>




      <h2 class="heading-medium">Do you get any another benefits?</h2>

      <form action="addanotherbenefititeration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="benefitanother" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="benefitanother" value="no">
              <label for="no">No</label>
            </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}