{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Which parts of Disability Living Allowance (DLA) do you get?</h1>
      </header>

      <form action="dlatypeiteration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset>
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice multiple-radio" data-target="dla-reveal">
                <input id="dlacare" name="dlacare" value="dlacare" type="checkbox">
                <label for="dlacare">Care component</label>
              </div>
    
              <div class="panel panel-border-narrow js-hidden" id="dla-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                <h2 class="heading-small" style="padding-bottom: 5px;">Which care rate do you get?</h2>
                <div class="multiple-choice">
                    <input id="high" type="radio" name="dlatype" value="high">
                    <label for="high"><p style="margin: 5px 0px;">High rate</p></label>
                  </div>
      
                  <div class="multiple-choice">
                    <input id="medium" type="radio" name="dlatype" value="medium">
                    <label for="medium"><p style="margin: 5px 0px;">Medium rate</p></label>
                  </div>

                  <div class="multiple-choice">
                      <input id="low" type="radio" name="dlatype" value="low">
                      <label for="low"><p style="margin: 5px 0px;">Low rate</p></label>
                    </div>
              </div>
    
              <div class="multiple-choice multiple-radio">
                <input id="dlamobility" name="dlamobility" value="dlamobility" type="checkbox">
                <label for="dlamobility">Mobility component</label>
              </div>       

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}