{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">How often is your Maternity Allowance paid?</h1>
      </header>

      <form action="maternityallowancetypeiteration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset>
            <legend class="visually-hidden">
            </legend>
    
              <div class="multiple-choice" data-target="2week-reveal">
                  <input id="maternity-allowance2" name="maternityallowance" value="maternity-allowance" type="radio">
                  <label for="maternity-allowance2"><p style="margin-bottom: 7px;">Every 2 weeks</p></label>
                </div>
      
                <div class="panel panel-border-narrow js-hidden" id="2week-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                  <h2 class="heading-small" style="padding-bottom: 5px;">How much Maternity Allowance do you get every 2 weeks?</h2>
                  <div class="form-hint">
				
                      The amount must include pence. For example, £146.20
                  
                        </div>
                  <div class="form-group">
                      <label class="form-label" for="maternityallowance2weeks"></label>
                      <input class="form-control" id="maternityallowance2weeks" name="maternityallowance2weeks" type="text">
                  </div>
                </div>
                
                <div class="multiple-choice" data-target="4weeks-reveal">
                    <input id="industrial-death4" name="maternityallowance" value="industrial-death" type="radio">
                    <label for="industrial-death4"><p style="margin-bottom: 7px;">Every 4 weeks</p></label>
                  </div>
        
                  <div class="panel panel-border-narrow js-hidden" id="4weeks-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                    <h2 class="heading-small" style="padding-bottom: 5px;">How much Maternity Allowance do you get every 4 weeks?</h2>
                    <div class="form-hint">
				
                        The amount must include pence. For example, £146.20
                    
                          </div>
                    <div class="form-group">
                        <label class="form-label" for="maternityallowance4"></label>
                        <input class="form-control" id="maternityallowance4" name="maternityallowance4" type="text">
                    </div>
                  </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}