{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="done-panel no-tick">


        <h2 style="font-weight: 400;" class="heading-small">

          Based on what you've told us

        </h2>

        <h2 class="heading-large">

            You get help with NHS costs and don't need to apply

        </h2>


      </div>

      <p class="lede">

            Because you get qualifying tax credits and have a household income of £15,276 or less:

      </p>








      <h2 class="heading-medium">

          You get free:

      </h2>





      <ul class="form-hint-list">


          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              NHS prescriptions

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              NHS dental check-ups and treatment

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              sight tests

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              NHS wigs and fabric supports

          </li>



      </ul>








      <h2 class="heading-medium">

          You get money off:

      </h2>





      <ul class="form-hint-list">


          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              new glasses or contact lenses

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              repairing or replacing your glasses or contact lenses

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              travel for NHS treatment

          </li>


          <br>

          <div class="panel panel-border-wide">
              <p>Any children under 20 included on your tax credit claim are also entitled to the same help.</p>
          </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="heading-medium">

                    How to get your help:
          
                </h2>

                <p>You don't have to do anything more, although you may have to show proof you get tax credit to your pharmacist, optician or dentist.</p>
          
                <p>
				
                        You can use your tax credit exemption certificate, this is a small plastic card that should have been sent to you.
                
                      </p>
                      <p>If you have lost it, you can use your latest tax credit award notice as proof.</p>

                      <h2 class="heading-small">
				
                            What your certificate looks like
                      
                            </h2>

                            <p><img src="/public/images/bsa/tc-excard.png" alt="what the tax credit exemption certificate looks like"></p>

                    


                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                <h2 class="heading-medium">

                        Feedback:
              
                    </h2>

                    <p><a target="_blank" rel="noopener" id="finished-survey" href="#">What did you think of this service?</a> (Takes 30 seconds)</p>

      </ul>

      <br>
    </div>
  </div>
</main>
</main>

{% endblock %}