{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Benefits</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">How often is your War Widow(er) Pension paid?</h1>
      </header>

      <form action="warwidowtypeiteration6-handler" method="get" class="form">

        <div class="form-group">

          <fieldset>
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice" data-target="week-reveal">
                <input id="war-widow1" name="warwidow" value="war-widow" type="radio">
                <label for="war-widow1"><p style="margin-bottom: 7px;">Every week</p></label>
              </div>
    
              <div class="panel panel-border-narrow js-hidden" id="week-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                <h2 class="heading-small" style="padding-bottom: 5px;">How much War Widow(er) Pension do you get every week?</h2>
                <div class="form-hint">
				
                    The amount must include pence. For example, £146.20
                
                      </div>
                <div class="form-group">
                    <label class="form-label" for="injuriesweek"></label>
                    <input class="form-control" id="injuriesweek" name="injuriesweek" type="text">
                </div>
              </div>
    
              <div class="multiple-choice" data-target="4week-reveal">
                  <input id="war-widow4" name="warwidow" value="war-widow" type="radio">
                  <label for="war-widow4"><p style="margin-bottom: 7px;">Every 4 weeks</p></label>
                </div>
      
                <div class="panel panel-border-narrow js-hidden" id="4week-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                  <h2 class="heading-small" style="padding-bottom: 5px;">How much War Widow(er) Pension do you get every 4 weeks?</h2>
                  <div class="form-hint">
				
                      The amount must include pence. For example, £146.20
                  
                        </div>
                  <div class="form-group">
                      <label class="form-label" for="injuries4weeks"></label>
                      <input class="form-control" id="injuries4weeks" name="injuries4weeks" type="text">
                  </div>
                </div>
                
                <div class="multiple-choice" data-target="year-reveal">
                    <input id="war-widowyear" name="warwidow" value="war-widow" type="radio">
                    <label for="war-widowyear"><p style="margin-bottom: 7px;">Every year</p></label>
                  </div>
        
                  <div class="panel panel-border-narrow js-hidden" id="year-reveal" style="padding-top: 0; padding-bottom: 10px; margin: 10px 0px 30px 20px">
                    <h2 class="heading-small" style="padding-bottom: 5px;">How much War Widow(er) Pension do you get every year?</h2>
                    <div class="form-hint">
				
                        The amount must include pence. For example, £146.20
                    
                          </div>
                    <div class="form-group">
                        <label class="form-label" for="injuriesyear"></label>
                        <input class="form-control" id="injuriesyear" name="injuriesyear" type="text">
                    </div>
                  </div>

          </fieldset>

        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>
    </div>
  </div>
</main>
</main>

{% endblock %}