{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block content %}
<style>
#capitalize::first-letter {
    text-transform: uppercase;
}
</style>
<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="javascript:history.go(-1)" class="link-back">Back</a>

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Apply for help with NHS costs</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Check your answers</h1>
      </header>

      {% if "earned-income" in data['incometype'] %}

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Income from a job
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Job title</h2>
          </dt>
          <dd class="cya-answer">
            {% if data['jobtitle'] == "" %}
            <p id="capitalize">N/A</p>
            {% else %}
            <p id="capitalize">{{ data['jobtitle'] }}</p>
            {% endif %}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        {% if data['jobrecent'] == "yes" %}
        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Started in last 2 months</h2>
          </dt>
          <dd class="cya-answer">
            {% if data['jobrecent'] == "yes" %}
            <p id="capitalize">Yes</p>
            {% else %}
            <p id="capitalize">No</p>
            {% endif %}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Job start date</h2>
          </dt>
          <dd class="cya-answer">
            {% if data['jobstartdateday'] %}
            <p id="capitalize">{{ data['jobstartdateday'] }} {{ data['jobstartdatemonth'] }} {{ data['jobstartdateyear'] }}</p>
            {% else %}
            <p id="capitalize">DD MM YYYY</p>
            {% endif %}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        {% endif %}

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Contracted hours</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">{{ data['jobhours'] }}</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        
        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Job paid</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">{{ data['joboften'] }}</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        {% if data['joboften'] == "it varies" %}
        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Date you last worked</h2>
          </dt>
          <dd class="cya-answer">
              {% if data['jobdatelastworkedday'] %}
              <p id="capitalize">{{ data['jobdatelastworkedday'] }} {{ data['jobdatelastworkedmonth'] }} {{ data['jobdatelastworkedyear'] }}</p>
              {% else %}
              <p id="capitalize">DD MM YYYY</p>
              {% endif %}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        {% endif %}

        {% if data['jobfitnote'] %}
        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Sending in fit notes</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">{{ data['jobfitnote'] }}</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>
        

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Started to send fit notes</h2>
          </dt>
          <dd class="cya-answer">
              {% if data['jobdatefitnoteday'] %}
              <p id="capitalize">{{ data['jobdatefitnoteday'] }} {{ data['jobdatefitnotemonth'] }} {{ data['jobdatefitnoteyear'] }}</p>
              {% else %}
              <p id="capitalize">DD MM YYYY</p>
              {% endif %}
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
            <dt class="cya-question">
              <h2 class="heading-small">Have another job</h2>
            </dt>
            <dd class="cya-answer">
              <p id="capitalize">{{ data['jobanother'] }}</p>
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
        </div>

        {% endif %}

        {% if data['jobpersonalpension'] %}

        <div>
            <dt class="cya-question">
              <h2 class="heading-small">Name of your personal pension</h2>
            </dt>
            <dd class="cya-answer">
              <p id="capitalize">{{ data['jobpensiontitle'] }}</p>
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Personal pension paid</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">{{ data['jobpersonalpensionhowoften'] }}</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Personal pension amount</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">£{{ data['jobpersonalpensionhowmuch'] }}</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
            <dt class="cya-question">
              <h2 class="heading-small">Get another personal pension</h2>
            </dt>
            <dd class="cya-answer">
              <p id="capitalize">{{ data['jobpersonalpensionanother'] }}</p>
            </dd>
            <dd class="cya-change">
              <a href="#">
                Change
              </a>
            </dd>
          </div>

      </dl>
      {% endif %}

      {% endif %}

      {% if "benefits-income" in data['incometype'] %}

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Income from benefits or tax credits
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Receive universal credit</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">Not yet, but I've applied</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Receive tax credits</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">Yes</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Type of tax credits</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">Working tax credit on it's own (including disability)</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Get any other benefits</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">No</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            <h2 class="heading-small">Looking after someone but can't get Carer's Allowance</h2>
          </dt>
          <dd class="cya-answer">
            <p id="capitalize">No</p>
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change
            </a>
          </dd>
        </div>

      </dl>

      {% endif %}

      {% if "pension-income" in data['incometype'] %}

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Income from pensions (state, work, private)
      </h2>

      {% endif %}

      {% if "maintenance-income" in data['incometype'] %}

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Income from maintenance payments from an ex-partner
      </h2>

      {% endif %}

      {% if "nil-income" in data['incometype'] %}

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Income from other sources
      </h2>

      {% endif %}


      <br>

      <div class="form-group">
        {% if data['partner'] == "no" %}
        <a href="/apply/task-list/task-list_5"><input class="button" type="submit" value="Next"></a>
        {% endif %}
        {% if data['partner'] == "yes" %}
        <a href="/apply/task-list/task-list_8"><input class="button" type="submit" value="Next"></a>
        {% endif %}
      </div>



    </div>
  </div>
</main>

{% endblock %}