{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Where you live</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">How much Council Tax do you pay a year?</h1>
      </header>

      <p>Don't include any Council Tax paid by Council Tax Reduction, sometimes called Council Tax Support.</p>

      <form action="counciltaxlumpiteration1-handler" method="get" class="form">

        <div class="form-group">
            <p class="form-hint" style="margin-bottom: 0px;">The amount must include pence. For example, £1,171.31</p>
            <span class="heading-medium">£</span>
            <input class="form-control form-control-1-4" id="pay" name="counciltaxlump" type="text">
        </div>

        <div class="form-group">
            <input class="button" type="submit" value="Next">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}