{% extends "layout_bsa.html" %}
 
{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

      <div class="column-full">

          <div class="phase-banner">

              <p>
                  <strong class="phase-tag">BETA</strong>
                  <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
              </p>

          </div>

          <div class="done-panel" style="
  margin-bottom: 0; background: #6f777b !important;
">
              <h1 class="heading-xlarge">
                  <i class="icon icon-important" style="background-image: url('https://low-income-support.herokuapp.com/public/images/bsa/icon-warning-white.png'); background-size: 100%;">
                      <span class="visually-hidden" style="">Warning</span>
                  </i>

                  Evidence Required</h1>
              <h2 class="heading-large"><span class="heading-secondary" style="color: white !important">Reference
                      number</span> K5G-V78</h2>


          </div>




      </div>



  </div>
  <div class="grid-row" style="
">

      <div class="column-full">
          <h3 class="heading-large">What you need to do</h3>
          <p style="
">Before we can assess your application, we need proof of your earnings. Send screenshots or
              photographs
              of these to <a href="mailto:NHSBSA.LISDigital@nhs.net?subject=LIS Evidence - Ref: K5G-V78" style=" color: #005EB8; text-decoration: underline; ">NHSBSA.LISDigital@nhs.net</a>.</p><br>
          <div class="notice">
              <i class="icon icon-important">
                  <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small">You cannot come back to this page later. You can make a note of what
                  evidence we need, by <a href="#" style=" color: #005EB8; text-decoration: underline; ">printing
                      this page</a>
                  or <a href="#" style=" color: #005EB8; text-decoration: underline; ">saving as a PDF (55k)</a>.</strong>
          </div>
      </div>

  </div>

  <div class="grid-row">

      <div class="column-half">

          <br>

          <div class="info-panel highlight " style="
  margin-bottom: 2em;
">


              <h2 class="heading-medium" style="
  margin-bottom: 0;
">Your payslips</h2>

              <table class="chargesTable">
                  <tbody>

                      <tr>
                          <td style="width: 50% !important;"><span class="strong" style="
">UX Designer</span></td>

                          <td>Last 2 consecutive payslips</td>
                      </tr>
                      <tr>
                          <td style="width: 50% !important; border: 0 !important;"><span class="strong" style="
">Cleaner</span></td>

                          <td style="border: 0 !important;">Last 4 consecutive payslips</td>
                      </tr>
                  </tbody>
              </table>


              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <h2 class="heading-medium" style="
  margin-bottom: 0;
">Your partners payslips</h2>
              <table class="chargesTable">
                  <tbody>

                      <tr>
                          <td style="width: 50% !important; border: 0 !important;"><span class="strong">Barman</span></td>

                          <td style="border: 0 !important;">Last 2 consecutive payslips</td>
                      </tr>

                  </tbody>
              </table>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <h2 class="heading-medium" style="
  margin-bottom: 0;
">Your benefits award notices</h2>
              <table class="chargesTable">
                  <tbody>

                      <tr>
                          <td style="border: 0 !important;"><span class="strong">Working Tax Credit &amp; Child Tax Credit Together</span></td>
                      </tr>
                      <tr>
                          <td style="border: 0 !important;">Send us each page of your awards notice</td>
                      </tr>

                  </tbody>
              </table>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <p style="margin-bottom: 1.25em;"><a class="icon print-icon" href="javascript:window.print();" style="
  background-image: url(https://check-exemption-from-nhs-costs.herokuapp.com/public/images/bsa/print-2x.svg);
  padding-left: 40px;
  margin-right: 20px;
">Print
                      this</a><a class="icon download-icon" href="../public/images/bsa/cert.pdf" target="_blank"
                      style="
  background-image: url(https://check-exemption-from-nhs-costs.herokuapp.com/public/images/bsa/document_icon.svg);
  padding-left: 37px;
  margin-left: 3px;
">Save
                      this (PDF 55k)</a>

              </p>










          </div>



      </div>
      <div class="column-half">


          <h3 class="heading-large">What happens next</h3>
          <p>After we get your evidence, we’ll process your application. This can take up to 15 working days.</p>
          <p>If you do not send all the evidence we need your application could be delayed.</p>
          <p>If we do not get your evidence by
              <span style=" font-weight: bold;">XX/XX/XXX</span>, we’ll assume that you do not wish to proceed
              with your application.</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




          <p>If you cannot send the proof we have asked for, fill in a <a style=" color: #005EB8; text-decoration: underline;">LIS
                  82 application form</a> and send to: </p>
          <p style=""><span style=" font-weight: bold;">LIS Returns (Ref: K5G-V78)</span><br>Bridge House<br>152
              Pilgrim
              Street<br>Newcastle upon Tyne<br>NE1 6SN. </p>



          <div class="panel panel-border-wide" style="margin-top: 30px;">
              <p>Do not send original copies of evidence by
                  post, as we cannot return these.</p>
          </div>
          <div class="grid-row">

              <div class="column-full"></div>
          </div>





      </div>




  </div>
  <div class="grid-row">

      <div class="column-full">
          <p style="font-weight: bold;">Email is not always secure. If you do not want to send evidence by email, you
              can post your evidence to us.</p>
          <p>If you need more help, telephone us on 0300 330 1343. 8am to 6pm Monday to Friday, 9am to 3pm on
              Saturday.</p>
          <h3 class="heading-small">Before you go</h3>
          <p>Help us improve this service by <a href="feedback">answering some questions</a> about it.</p>

      </div>

  </div>




</main>

{% endblock %}
