{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            This is a new service
            <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">

                <h1 class="heading-large">

                        If you get Income Support:

    
                </h1>


            <h2 class="heading-medium">

                You get free:

            </h2>





            <ul class="form-hint-list">


                    <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                            <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
        
                    NHS prescriptions

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
    
                    NHS dental check-ups and treatment

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
    
                    sight tests

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
    
                    NHS wigs and fabric supports

                </li>



            </ul>








            <h2 class="heading-medium">

                You get money off:

            </h2>





            <ul class="form-hint-list">


                    <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                            <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
        
                    new glasses or contact lenses

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
    
                    repairing or replacing your glasses or contact lenses

                </li>

                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>
    
                        travel for NHS treatment

                </li>


            </ul>

            <br>

            <div class="panel panel-border-wide">
                    <span id="result-explanation">Any children under 20 included on your Income Support claim are also entitled to the same help.</span>
                    
                </div>


            <hr>









            <h2 class="heading-medium">

                How to get your help

            </h2>










            <p>

                    In most cases, you don't have to do anything more, although you may have to show proof you get Income Support to your pharmacist, optician or dentist.
                    
            </p>

            <p>You can use your latest benefit letter or award notice as proof. If you have lost yours contact the <a id="existing-benefit-link" target="_blank" rel="noopener" href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre Plus Helpline<span class="visually-hidden"> (opens in a new tab)</span></a>.</p>



            <h2 class="heading-small">

                    Help with travel for NHS treatment
    
                </h2>

                <p>Tell the hospital (or the place where you're getting treatment) that you want to claim back the cost of your journey. They'll tell you what you need to do.</p>

                <p>You may need to show proof:</p>

                <ul class="list list-bullet">
                        <li>of your travel costs, for example, bus tickets</li>
                          <li>that you're entitled to help</li>
                     </ul>

                     <div class="notice" style="
                     margin-top: 1.25em;
                 ">
                       <i class="icon icon-important">
                         <span class="visually-hidden">Warning</span>
                       </i>
                       <strong class="bold-small">It's important you know what benefit you get - you can get a fine if you claim help with NHS costs and you're not entitled.</strong>
                     </div>










            <hr>



            <h2 class="heading-small">

                Feedback

            </h2>










            <p>

                <a href="#">What did you think of this service?</a> (Takes 30 seconds)

            </p>







        </div>
    </div>
</main>

{% endblock %}