{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
        <p>
            <strong class="phase-tag">BETA</strong>
            This is a new service
            <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
        <div class="column-two-thirds">



                <h1 class="heading-large">

                        If you're under 16:
    
                </h1>

            <h2 class="heading-medium">

                You get free:

            </h2>





            <ul class="form-hint-list">


                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                    <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>

                    NHS prescriptions

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>

                    NHS dental check-ups and treatment

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>

                    sight tests

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>

                    NHS wigs and fabric supports

                </li>



            </ul>








            <h2 class="heading-medium">

                You get money off:

            </h2>





            <ul class="form-hint-list">


                    <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                            <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>

                    new glasses or contact lenses

                </li>
                <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                        <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/tick-green.svg');"></span>

                    repairing or replacing your glasses or contact lenses

                </li>


            </ul>


            <h2 class="heading-medium">

                You don't automatically get help towards the cost of:

            </h2>





            <ul class="form-hint-list">



                    <li style="margin: 0 0 0.6em 0; display: table; margin-bottom: 0.3em; margin-top: 0.6em;">
                            <span style="vertical-align: middle; margin-right: .26316em; display: inline-block; width: 20px; height: 20px; background-position: center center; background-repeat: no-repeat; background-image: url('/public/images/bsa/cross-red.svg');"></span>

                    travel for NHS treatment

                </li>



            </ul>
            <p>You may still get help if your parent or guardian is on certain benefits or has applied for help with NHS
                costs.</p>

            <hr>









            <h2 class="heading-medium">

                How to get your help

            </h2>










            <p>

                In most circumstances you won't have to do anything as your date of birth will be on your medical
                records and will show your age.

            </p>








            <p style="font-weight: bold;">To get your free prescriptions</p>

            <p>

                Tick box A (first box down) on the back of the prescription form.

            </p>






            <hr>



            <h2 class="heading-small">

                Feedback

            </h2>










            <p>

                <a href="#">What did you think of this service?</a> (Takes 30 seconds)

            </p>







        </div>
    </div>
</main>

{% endblock %}