{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="done-panel no-tick">


        <h2 style="font-weight: 400;" class="heading-small">

          Based on what you've told us

        </h2>

        <h2 class="heading-large">

          You get help with NHS costs and don't need to apply

        </h2>


      </div>

      <p class="lede">

          Because you are still waiting for your asylum decision or the outcome of an appeal, you are entitled to
          help

      </p>










      <h2 class="heading-medium">

          How to get your help

      </h2>










      <p>

          You should have been issued with an HC2 certificate by UK Visas and Immigration (UKVI). This entitles
          you to full help with health costs.

      </p>










      <p>

          Your certificate lasts for 6 months. You will continue to be sent a new one until a decision has been
          made on your application or appeal.

      </p>










      <h2 class="heading-small">

          If you do not have an HC2

      </h2>










      <p>

          If you do not have an HC2 or it has expired, you need to contact UKVI on 0300 123 2235.

      </p>





      <hr>








      <h2 class="heading-large">

          What you'll get

      </h2>










      <h2 class="heading-medium">

          You get free:

      </h2>





      <ul class="form-hint-list">


          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              NHS prescriptions

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              NHS dental check-ups and treatment

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              sight tests

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              NHS wigs and fabric supports

          </li>



      </ul>








      <h2 class="heading-medium">

          You get money off:

      </h2>





      <ul class="form-hint-list">


          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              new glasses or contact lenses

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              repairing or replacing your glasses or contact lenses

          </li>
          <li class="form-hint-list-item form-hint-list-item--valid">
              <span class="form-hint-list-item__indicator"></span>

              travel for NHS treatment

          </li>



      </ul>

      <br>
    </div>
  </div>
</main>
</main>

{% endblock %}