{% extends "layout_bsa.html" %}

{% block page_title %}
NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="page-header">
        <p class="page-header--sub heading-secondary">Wages from a job</p>
        <h1 class="page-header--lede heading-large" style="margin-bottom: 0.5555555556em;">Are you paid any work‑related expenses at your '{{ data['jobtitle']}}' job?</h1>
      </header>

      <p>A work-related expense is an expense that you are paid back whilst performing the duties of your job. </p>

      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                What is classed as a work‑related expense?
            </span>
          </summary>
          <div class="govuk-details__text">
              <p>Work-related expenses include:</p>
              
              <ul class="list list-bullet">
                  <li>Uniform, work clothing and tool allowance</li>
                  <li>Vehicles you use for work e.g. Company / Hire car</li>
                  <li>Travel and overnight expenses</li>
                  <li>Professional fees and subscriptions</li>
                  <li>Working from home fees</li>
                  <li>Equipment purchase etc...</li>
              </ul>

          </div>
        </details>
        <br>
 

      <form action="jobworkexpenses-iteration-2-handler" method="get" class="form">

        <div class="form-group">

          <fieldset class="inline">
            <legend class="visually-hidden">
            </legend>

            <div class="multiple-choice">
              <input id="yes" type="radio" name="workexpenses" value="yes">
              <label for="yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="no" type="radio" name="workexpenses" value="no">
              <label for="no">No</label>
            </div>

          </fieldset>

        </div>



        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

      </form>


    </div>
  </div>
</main>
</main>

{% endblock %}