
<style type="text/css">
#global-header {
background: none !important;
height: auto !important;
}
#global-header .header-wrapper {
  max-width: 100% !important;
}
@media (max-width: 641px) {
.sign-in {
    display: none;
}
}

.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  padding: 15px 30px 15px 30px;
  background-color: #005EB8;
  color: white;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 250px;
  border: none;
  padding: 10px;
  height: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 34px;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
}


</style>
<div id="header-logo" style="padding-bottom: 30px;">
  <div class="header-wrapper">
    <a id="bsa-logo" href="/index.html">
      <img src="/public/images/bsa/bsa_logo.svg">
    </a>
    <p class="sign-in" style="float: left; margin: 60px 30px 0 0; padding-left: 15px; font-weight: bold; font-size: 18px;">stephen.hill9@nhs.net <a href="/apply-for-help-with-nhs-costs/sign-out" class="header-small">Sign out</a></p>
  </div>
</div>

<div class="navigation">
    <div><span style="font-weight: bold;">Home</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Register</div>
    <div>

        <div class="search">
           <input type="text" class="searchTerm" placeholder="Search">
           <button type="submit" class="searchButton">
              <i class="fas fa-search"></i>
          </button>
     </div>

    </div>
</div>

