
<style type="text/css">
#global-header {
background: none !important;
height: auto !important;
}
#global-header .header-wrapper {
  max-width: 100% !important;
}
@media (max-width: 641px) {
.sign-in {
    display: none;
}
}

.navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  padding: 15px 30px 15px 30px;
  background-color: #005EB8;
  color: white;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 250px;
  border: none;
  padding: 10px;
  height: 20px;
  outline: none;
  color: #6f777b;
}

.searchTerm:focus{
  color: #6f777b;
}

.searchButton {
  width: 40px;
  height: 34px;
  border: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
}


</style>
<div id="header-logo" style="padding-bottom: 20px;">
  <div class="header-wrapper">
    <a id="bsa-logo" href="/index.html">
      <img src="/public/images/bsa/bsa_logo.svg">
    </a>
    <p class="sign-in" style="float: left; margin: 60px 30px 0 0; padding-left: 15px; font-weight: bold; font-size: 18px;">stephen.hill9@nhs.net <a href="#" class="header-small">Sign out</a></p>
  </div>
</div>

<div class="navigation">
    <div><span style="font-weight: bold;"><a style="color: white; text-decoration: none;" href="secure">Home</a></span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a style="color: white; text-decoration: none;" href="registering">Register Next Case</a></div>
    <div>

        <div class="search">
            <form action="assess-search-handler" method="get" class="form" style="margin: 0; padding: 0;">
           <input type="text" class="searchTerm" placeholder="Search">
           <input class="button" type="submit" value="Search" style="padding: 10px !important;">
           <!-- 
           <button type="submit" class="searchButton">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="
    width: 24px;
    margin-top: 7px;
    margin-left: 7px;
"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path></svg>
          </button>
          -->
          </form>
     </div>

    </div>
</div>

