{% extends "layout_bsa.html" %}
{% block page_title %}
Apply for help to pay NHS costs
{% endblock %}
{% block content %}
<style>
    .versions-prod:before {
   content: "PRIVATE BETA";
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 1.25;
   background: #2360AC;
   color: white;
   }
   .versions-prod {
   position: relative;
   overflow: hidden;
   border: 3px solid #2360AC;
   margin-top: 30px;
   margin-bottom: 35px;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   }
   @media (min-width: 641px) {
   .versions-prod {
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   }
   }
   .versions:before {
   content: "RESEARCH";
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 1.25;
   background: #bfc1c3;
   color: white;
   }
   .versions-alpha {
   position: relative;
   overflow: hidden;
   border: 3px solid #D53880;
   margin-top: 30px;
   margin-bottom: 35px;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   }
   @media (min-width: 641px) {
   .versions-alpha {
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   }
   }
   .versions-alpha:before {
   content: "ALPHA";
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
   font-family: Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 1.25;
   background: #D53880;
   color: white;
   }
   .versions {
   position: relative;
   overflow: hidden;
   border: 3px solid #bfc1c3;
   margin-top: 30px;
   margin-bottom: 35px;
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
   }
   @media (min-width: 641px) {
   .versions {
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 30px;
   }
   }
</style>
<main id="content" role="main">
    <div style="background-color: #DEE0E2; padding: 25px 25px 1px 25px; margin-top:15px;">
        <div class="notice" style="margin-bottom:25px;">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
                This page is a PROTOTYPE and therefore is not as robust as the live service
            </strong>
        </div>
    </div>
    <br>
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <p class="page-header--sub heading-secondary">Prototype</p>
                <h1 class="page-header--lede heading-xlarge" style="margin-top:0">Apply for help to pay NHS costs</h1>
            </header>
        </div>
    </div>
    <details>
        <summary><span class="summary">About this prototype</span></summary>
        <br>
        <div class="panel panel-border-narrow">
            <h3 class="heading-small">Who is this service for?</h3>
            <p>The general public</p>
            <h3 class="heading-small">What is it for?</h3>
            <p>To reduce health inequality caused by having limited means.
            </p>
            <h3 class="heading-small">Current phase</h3>
            <p>Private Beta</p>
            <h3 class="heading-small">Contact the project team</h3>
            <a href="">stephen.hill9@nhs.net</a> <br>
            <br>
            <h3 class="heading-small">Full Journey</h3>
            <a href="apply/apply-online-invite"><input class="button" type="submit" value="Full Journey"></a>
        </div>
    </details>
    <details>
        <summary><span class="summary">Sharing this prototype</span></summary>
        <br>
        <div class="panel panel-border-narrow">
            <div class="grid-row">
                <div class="column-third">
                    <h3 class="heading-small" style="float:left; margin-top:10px">To give others access to this
                        prototype:</h3>
                </div>
                <div class="column-two-thirds">
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:40%">Username</td>
                                <td>NHSBSA</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">Password</td>
                                <td>NHSBSA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </details>
    <hr>
    <h2 class="heading-large">Earnings</h2>
    <details>
        <summary><span class="summary">Sprint 52, 53 &amp; 54</span></summary>
        <br>
        <div class="panel panel-border-narrow">
            <div class="grid-row">
                <div class="column-third">
                    <h2 class="heading-medium">Experimental</h2>
                </div>
                <div class="column-two-thirds">
                    <div class="versions-prod">
                        <h3 class="heading-medium" style="margin-top:0;">Submitting Evidence of Earnings (Single &
                            Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis A</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> adding the ability to provide evidence by email OR post <strong style="font-weight: bold;">will
                                be a useful feature for</strong> users who are required to submit earnings evidence
                            <strong style="font-weight: bold;">as it will</strong> allow them a digital route of
                            providing evidence other than post. <strong style="font-weight: bold;">This will</strong>
                            increase the number of users allowed to claim digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>If a user enters an email address, we give them the option of whether they would
                                like to submit their evidence by email or post, otherwise we ask them to submit it
                                by post. Available for both single and partner
                                applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully choose how they
                                wish to supply evidence of their income (if required).</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>A few applicants who we researched probably <i>could</i> supply evidence by email
                                if they needed to,
                                but the majority still liked the perceived security of sending in evidence by post
                                (even the demographics who we expected to be more 'tech-savy' e.g. Students). We plan
                                on extending this research before commiting to email fully as a viable option.</li>
                        </ul>
                        <br>
                        <a href="apply/submit/mvp/task-list-complete.html"><input class="button" type="submit" value="Submitting Evidence Journey (MVP)"></a><br><br>
                        <h4 class="heading-small">Hypothesis B</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> showing what specific evidence is required from applicants on the end
                            end page
                            <strong style="font-weight: bold;">will be a useful feature for</strong> all users who
                            receive earnings <strong style="font-weight: bold;">as it will</strong>
                            allow them to submit these as quickly as possible and not provide unnecessary delay to any
                            potential treatment. <strong style="font-weight: bold;">This
                                will</strong> decrease the number of times the assessors have to go back to applicants
                            by XX%.</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>If an applicant needs to provide evidence, instead of waiting for an assessor to get in
                                touch, we tell the claimant up front what information we need from them and allow
                                themselves to send this in digitally or by post. This brings digital back on a par with
                                the paper form.</li>
                            <li>We've also added in the functionality to save what evidence is required (and their
                                instructions) as a PDF or print it instead.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants realise the end page cannot be returned to and what their preferred
                                method of saving this is.</li>
                            <li>Whether applicants (single & partner) can successfully supply the correct evidence of
                                their income first time.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>Users found that having to make a choice of which method they wished to supply
                                evidence, without knowing what was actually required, was very difficult.</li>
                            <li>The majority of users were confused by the huge volume of information on both the email
                                &amp; post screens. Suggestions included breaking it down in a chronological order of
                                what to do next.</li>
                            <li>Users needed further clarification to include the digi-ref in the subject line of the
                                email.</li>
                            <li>Users very concerned about being unable to return to the page. Because of this, users would like the additional option of having the list of evidence emailed
                                to themselves as well.</li>
                        </ul>

                        <a href="apply/submit/iteration-1/task-list-complete.html"><input class="button" type="submit"
                                value="Submitting Evidence Journey (Iteration 1)"></a><br><br>
                        <a href="apply/submit/iteration-2/task-list-complete.html"><input class="button" type="submit"
                                value="Submitting Evidence Journey (Iteration 2)"></a><br><br>

                        <hr>
                        <h4 class="heading-medium">Known Issues</h4>
                        <ul class="list list-bullet">
                            <li>Prototype only includes new / amended screens and is <strong style="font-weight: bold; text-decoration: underline;">not</strong>
                                intended to be a full representation of the entire service.</li>
                            <li>No error messages in the prototype.</li>
                            <li>Uses dummy data on final 'check your answer' screens.</li>
                        </ul>
                        <br>

                    </div>
                </div>
            </div>

        </div>
    </details>
    <details>
        <summary><span class="summary">Sprint 49, 50 &amp; 51</span></summary>
        <br>
        <div class="panel panel-border-narrow">
            <div class="grid-row">
                <div class="column-third">
                    <h2 class="heading-medium">Experimental</h2>
                </div>
                <div class="column-two-thirds">
                    <div class="versions-prod">


                        <h3 class="heading-medium" style="margin-top:0;">PAYE (Single & Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis A</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Wages from a job'
                            <strong style="font-weight: bold;">will be a useful feature for</strong> people who receive
                            'Wages from a job' <strong style="font-weight: bold;">as it will</strong> allow them to
                            successfully apply digitally for help with health costs. <strong style="font-weight: bold;">This
                                will</strong> increase the number of people who can apply digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to 'PAYE' users (single & partner
                                applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'PAYE' journey for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the 'PAYE'
                                workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>Assessors were happy with the suggested user flow for 'PAYE'</li>
                            <li>User Research showed initial confusion surrounding 'Fit Notes', but by reading the
                                'hint text' she then quickly understood what these were.</li>
                        </ul>
                        <a href="apply/income/paye/job-title1"><input class="button" type="submit" value="PAYE Journey"></a><br><br>


                        <h3 class="heading-medium" style="margin-top:0;">Benefits - including Universal Credit &amp;
                            Working Tax Credits (Single & Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis B</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Universal Credit
                            &amp; Working Tax Credits' <strong style="font-weight: bold;">will be a useful feature for</strong>
                            people who receive 'Universal Credit &amp; Working Tax Credits' <strong style="font-weight: bold;">as
                                it will</strong> allow them to successfully apply digitally for help with health costs.
                            <strong style="font-weight: bold;">This will</strong> increase the number of people who can
                            apply digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to 'Universal Credit &amp; Working
                                Tax Credits' users (single & partner applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'Universal Credit &amp; Working Tax Credits' journey for single and partner
                                applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the 'Universal
                                Credit &amp; Working Tax Credits' workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>Assessors were happy with the suggested user flow for 'Universal Credit &amp; Working
                                Tax Credits'</li>
                        </ul>
                        <a href="apply/income/benefits/universal-credit"><input class="button" type="submit" value="Benefits Journey"></a><br><br>

                        <h3 class="heading-medium" style="margin-top:0;">Pensions (Single & Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis C</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Pensions' <strong
                                style="font-weight: bold;">will be a useful feature for</strong> people who receive
                            'Pensions' <strong style="font-weight: bold;">as it will</strong> allow them to
                            successfully apply digitally for help with health costs. <strong style="font-weight: bold;">This
                                will</strong> increase the number of people who can apply digitally by XX%</p>

                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to 'Pensions' users (single &
                                partner applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'Pensions' journey for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the 'Pensions'
                                workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>Assessors were happy with the suggested user flow for 'Pensions'</li>
                        </ul>
                        <a href="apply/income/pension/pension-name"><input class="button" type="submit" value="Pensions Journey (Under 63)"></a><br><br>
                        <a href="apply/income/pension/state-pension-receive"><input class="button" type="submit" value="Pensions Journey (Over 63)"></a><br><br>

                        <h3 class="heading-medium" style="margin-top:0;">Maintenance Payments (Single & Partner
                            Applicants)</h3>
                        <h4 class="heading-small">Hypothesis D</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Maintenance
                            Payments' <strong style="font-weight: bold;">will be a useful feature for</strong> people
                            who receive 'Maintenance Payments' <strong style="font-weight: bold;">as it will</strong>
                            allow them to successfully apply digitally for help with health costs. <strong style="font-weight: bold;">This
                                will</strong> increase the number of people who can apply digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to 'Maintenance Payments' users
                                (single & partner applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'Maintenance Payments' journey for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the
                                'Maintenance Payments' workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>Assessors were happy with the suggested user flow for 'Maintenance Payments'</li>
                        </ul>
                        <a href="apply/income/maintenance/receiving-for"><input class="button" type="submit" value="Maintenance Payments Journey"></a><br><br>

                        <h3 class="heading-medium" style="margin-top:0;">Nil-Income (Single & Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis E</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Money from other
                            sources'
                            <strong style="font-weight: bold;">will be a useful feature for</strong> people who receive
                            'Money from other sources' <strong style="font-weight: bold;">as it will</strong> allow
                            them to
                            successfully apply digitally for help with health costs. <strong style="font-weight: bold;">This
                                will</strong> increase the number of people who can apply digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to users who receive 'Money from
                                other sources' (single &
                                partner applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'Money form other sources' journey for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the
                                'Money from other sources' workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>Assessors were happy with the suggested user flow for people who receive 'Money from
                                other sources'</li>
                        </ul>
                        <a href="apply/income/none/mvp/none-how-paying"><input class="button" type="submit" value="Nil-Income Journey (MVP)"></a><br><br>
                        <a href="apply/income/none/iteration-1/none-how-paying"><input class="button" type="submit"
                                value="Nil-Income Journey (Iteration 1)"></a><br><br>

                        <h3 class="heading-medium" style="margin-top:0;">Self-Employed (Single & Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis F</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Self-Employed'
                            <strong style="font-weight: bold;">will be a useful feature for</strong> people who receive
                            'Self-Employed' <strong style="font-weight: bold;">as it will</strong> allow them to
                            successfully apply digitally for help with health costs. <strong style="font-weight: bold;">This
                                will</strong> increase the number of people who can apply digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to 'Self-Employed' users (single &
                                partner applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'Self-Employed' journey for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the
                                'Self-Employed' workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>...</li>
                        </ul>
                        <a href="apply/income/selfemployment/"><input class="button" type="submit" value="Self-Employment Journey"
                                disabled="disabled"></a><br><br>

                        <h3 class="heading-medium" style="margin-top:0;">Trust Funds (Single & Partner Applicants)</h3>
                        <h4 class="heading-small">Hypothesis G</h4>
                        <p style="background: #DEE0E2; padding: 10px; margin-top:15px;"><strong style="font-weight: bold;">We
                                believe</strong> that accepting applications from people who receive 'Trust Funds'
                            <strong style="font-weight: bold;">will be a useful feature for</strong> people who receive
                            'Trust Funds' <strong style="font-weight: bold;">as it will</strong> allow them to
                            successfully apply digitally for help with health costs. <strong style="font-weight: bold;">This
                                will</strong> increase the number of people who can apply digitally by XX%</p>
                        <h4 class="heading-small">What we changed:</h4>
                        <ul class="list list-bullet">
                            <li>Changed 'Before Your Start' section to grant access to 'Trust Funds' users (single &
                                partner applicants).</li>
                            <li>Added in new sections to task list (About your income & About your partners
                                income).</li>
                            <li>Added in 'Trust Funds' journey for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we plan to test:</h4>
                        <ul class="list list-bullet">
                            <li>Whether applicants (single & partner) can successfully navigate through the 'Trust
                                Funds' workflow.</li>
                            <li>Whether assessors are satisfied that the following journey gives them all of the
                                required information for single and partner applicants.</li>
                        </ul>
                        <h4 class="heading-small">What we found:</h4>
                        <ul class="list list-bullet">
                            <li>...</li>
                        </ul>
                        <a href="apply/income/trustfunds"><input class="button" type="submit" value="Trust Funds Journey"
                                disabled="disabled"></a><br><br>




                        <hr>
                        <h4 class="heading-medium">Known Issues</h4>
                        <ul class="list list-bullet">
                            <li>Prototype only includes new / amended screens and is <strong style="font-weight: bold; text-decoration: underline;">not</strong>
                                intended to be a full representation of the entire service.</li>
                            <li>No error messages in the prototype.</li>
                            <li>Uses dummy data on final 'check your answer' screens.</li>
                        </ul>
                        <br>


                    </div>
                </div>
            </div>

        </div>
    </details>


</main>
{% endblock %}